* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

html,
body {
  background-color: $color-page-bg;
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: $font-line-height-default;
  color: $color-text-primary;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  padding: $spacer;

  @include breakpoint($screen-small) {
    padding: $spacer2;
  }
}

a {
  color: $color-text-primary;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-heading;
  line-height: $font-line-height-heading;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  font-size: $font-size-default;

  @include breakpoint($screen-small) {
    font-size: $type-18;
  }

  a {
    text-decoration: underline;
  }
}

h1 {
  font-size: $type-32;

  @include breakpoint($screen-small) {
    font-size: $type-48;
  }
}