* {
  box-sizing: border-box;
}

img, 
picture {
  @include width-full;
  height: auto;
  line-height: 0;
}

picture {
  @include block;
}

html,
body {
  @include height-full;
  background-color: $color-page-bg;
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: $font-line-height-default;
  color: $color-text-primary;
}

body {
  padding: $spacer;

  @supports #{'\(-webkit-touch-callout: none)'} {
    @include breakpoint($screen-landscape) {
      padding: $spacer env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }

    @include breakpoint($screen-portrait) {
      padding: $spacer;
    }
  }

  @include breakpoint($screen-large) {
    padding: $spacer2;
  }
}

a {
  color: $color-text-primary;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-heading;
  line-height: $font-line-height-heading;
  @include mar-top(0);
  @include mar-bottom(1);
}

p {
  @include mar-top(0);
  @include mar-bottom(1);
  @include body-med;

  a {
    text-decoration: underline;
  }
}

h1 {
  @include head-xlarge;
}

h2 {
  @include head-large;
}

h3 {
  @include head-med;
}

h4 {
  @include head-small;
}

h5 {
  @include head-xsmall;
}

h6 {
  @include head-xxsmall;
}