:root {
  --color-page-bg: #{$color-page-bg};
  --color-page-inner-bg: #{$color-page-inner-bg};
  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
  --color-link: #{$color-link};
  --color-border-light: #{$color-border-light};
  --color-border-dark: #{$color-border-dark};
  --color-surface-light: #{$color-surface-light};
  --color-surface-dark: #{$color-surface-dark};
}

.theme-dark {
  --color-page-bg: #{$color-page-bg-theme-dark};
  --color-page-inner-bg: #{$color-page-inner-bg-theme-dark};
  --color-text-primary: #{$color-text-primary-theme-dark};
  --color-text-secondary: #{$color-text-secondary-theme-dark};
  --color-link: #{$color-link-theme-dark};
  --color-border-light: #{$color-border-light-theme-dark};
  --color-border-dark: #{$color-border-dark-theme-dark};
  --color-surface-light: #{$color-surface-light-theme-dark};
  --color-surface-dark: #{$color-surface-dark-theme-dark};
}

* {
  box-sizing: border-box;

  &.theme-switch {
    transition: none !important;
  }
}

img, 
picture {
  @include width-full;
  @include height-auto;
  line-height: 0;

  .theme-dark & {
    filter: brightness(0.85) contrast(1.1);
  }
}

picture {
  @include block;
}

html,
body {
  @include height-full;
  background-color: var(--color-page-bg);
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: $font-line-height-default;
  color: var(--color-text-primary);
}

body {
  padding: $spacer;

  @supports #{'\(-webkit-touch-callout: none)'} {
    @include breakpoint($screen-landscape) {
      padding: $spacer env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }

    @include breakpoint($screen-portrait) {
      padding: $spacer;
    }
  }

  @include breakpoint($screen-large) {
    padding: $spacer-2;
  }
}

a {
  color: var(--color-link);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-heading;
  line-height: $font-line-height-heading;
  @include mar-top(0);
  @include mar-bottom(1);
}

p {
  @include mar-top(0);
  @include mar-bottom(1);
  @include body-med;

  a {
    text-decoration: underline;
  }
}

h1 {
  @include head-xlarge;
}

h2 {
  @include head-large;
}

h3 {
  @include head-med;
}

h4 {
  @include head-small;
}

h5 {
  @include head-xsmall;
}

h6 {
  @include head-xxsmall;
}