.contact-list {
  @include zero;
  @include overflow-hidden;
  list-style: none;
  border: 1px solid $color-border-light;
  border-radius: $br-8;
}

.contact-list__item {
  border-top: 1px solid $color-border-light;
  text-decoration: none;

  &:first-of-type {
    border-top: 0;
  }
}

.contact-list__link {
  @include flex;
  @include flex-cross-center;
  padding: $spacer-plus $spacer-plus $spacer-plus $spacer-2;
  text-decoration: none;

  &:hover {
    background-color: $grey-1;
  } 
}

.contact-list__link-icon {
  @include mar-right(1);
  fill: currentColor;
  stroke: currentColor;
}

.contact-list__link-info {
  @include flex-grow;
}

.contact-list__link-heading {
  @include mar-bottom(0);
  font-size: $type-16;
  font-weight: $font-medium;
}

.contact-list__link-description {
  @include flex-grow;
  @include mar(0);
  @include footnote;
  color: $color-text-secondary;
}

.contact-list__link-arrow {
  fill: $grey-6;
}