.contact-list {
  @include zero;
  @include border-radius($br-8);
  list-style: none;
  border: 1px solid var(--color-border-light);
}

.contact-list__item {
  border-top: 1px solid var(--color-border-light);
  text-decoration: none;

  &:first-of-type {
    border-top: 0;
  }
}

.contact-list__link {
  @include flex;
  @include flex-cross-center;
  padding: $spacer-plus $spacer-plus $spacer-plus $spacer-2;
  transition: all $transition-short;

  &:hover {
    background-color: var(--color-accent);
  } 
}

.contact-list__link-icon {
  @include mar-right(1);
  @include icon(24px);
  color: var(--color-icon-primary);
}

.contact-list__link-info {
  @include flex-grow;
}

.contact-list__link-heading {
  @include mar-bottom(0);
  font-size: $type-16;
  font-weight: $font-medium;
}

.contact-list__link-description {
  @include flex-grow;
  @include mar(0);
  @include footnote;
  color: var(--color-text-secondary);
}

.contact-list__link-arrow {
  @include icon(24px);
  color: var(--color-icon-secondary);

  .contact-list__link:hover & {
    color: var(--color-icon-primary);
  }
}