:root {
  color-scheme: light dark;
  --color-page-bg: #{$color-page-bg};
  --color-page-inner-bg: #{$color-page-inner-bg};
  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
  --color-icon-primary: #{$color-icon-primary};
  --color-icon-secondary: #{$color-icon-secondary};
  --color-link: #{$color-link};
  --color-border-light: #{$color-border-light};
  --color-border-dark: #{$color-border-dark};
  --color-surface-light: #{$color-surface-light};
  --color-surface-dark: #{$color-surface-dark};
  --color-accent: #{$color-accent};
  --color-shadow: #{$color-shadow};
  --color-trans-white-medium: #{$color-trans-white-medium};
  --color-trans-white-light: #{$color-trans-white-light};
  --color-trans-black-medium: #{$color-trans-black-medium};
  --color-trans-black-light: #{$color-trans-black-light};
}

* {
  box-sizing: border-box;
}

img, 
picture {
  @include width-full;
  @include height-auto;
  line-height: 0;

  .theme-dark & {
    filter: brightness(0.85) contrast(1.1);
  }
}

picture {
  @include block;
}

html,
body {
  @include flex;
  @include flex-vertical;
  @include square(100%);
  background: var(--color-page-bg);
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: $font-line-height-default;
  color: var(--color-text-primary);
}

body {
  // padding: $spacer $spacer-plus $spacer-plus $spacer;
  @include overflow-hidden;

  // Target only iOS Safari for iPhone X style screen inset
  // @supports #{'\(-webkit-touch-callout: none)'} {
  //   @include breakpoint($screen-landscape) {
  //     padding: $spacer env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  //   }

  //   @include breakpoint($screen-portrait) {
  //     padding: $spacer $spacer-plus $spacer-plus $spacer;
  //   }
  // }

  // @include breakpoint($screen-large) {
  //   padding: $spacer-2;
  // }
}

a {
  color: var(--color-link);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-heading;
  line-height: $font-line-height-heading;
  @include mar-top(0);
  @include mar-bottom(1);
}

p {
  @include mar-top(0);
  @include mar-bottom(1);
  @include body-med;

  a {
    transition: all $transition-short;
    text-decoration: underline;

    &:hover {
      background-color: var(--color-accent);
    }
  }
}

h1 {
  @include head-xlarge;
}

h2 {
  @include head-large;
}

h3 {
  @include head-med;
}

h4 {
  @include head-small;
}

h5 {
  @include head-xsmall;
}

h6 {
  @include head-xxsmall;
}