:root {
  color-scheme: light dark;
  --color-page-bg: #{$color-page-bg};
  --color-page-bg-blue: #{$color-page-bg-blue};
  --color-page-bg-green: #{$color-page-bg-green};
  --color-page-bg-yellow: #{$color-page-bg-yellow};
  --color-page-bg-pink: #{$color-page-bg-pink};
  --color-page-bg-purple: #{$color-page-bg-purple};
  --color-page-inner-bg: #{$color-page-inner-bg};
  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
  --color-icon-primary: #{$color-icon-primary};
  --color-icon-secondary: #{$color-icon-secondary};
  --color-link: #{$color-link};
  --color-border-light: #{$color-border-light};
  --color-border-dark: #{$color-border-dark};
  --color-surface-light: #{$color-surface-light};
  --color-surface-dark: #{$color-surface-dark};
  --color-accent: #{$color-accent};
  --color-accent-blue: #{$color-accent-blue};
  --color-accent-green: #{$color-accent-green};
  --color-accent-yellow: #{$color-accent-yellow};
  --color-accent-pink: #{$color-accent-pink};
  --color-accent-purple: #{$color-accent-purple};
  --color-shadow: #{$color-shadow};
}

.theme-dark {
  --color-page-bg: #{$color-page-bg-theme-dark};
  --color-page-bg-blue: #{$color-page-bg-blue-theme-dark};
  --color-page-bg-green: #{$color-page-bg-green-theme-dark};
  --color-page-bg-yellow: #{$color-page-bg-yellow-theme-dark};
  --color-page-bg-pink: #{$color-page-bg-pink-theme-dark};
  --color-page-bg-purple: #{$color-page-bg-purple-theme-dark};
  --color-page-inner-bg: #{$color-page-inner-bg-theme-dark};
  --color-text-primary: #{$color-text-primary-theme-dark};
  --color-text-secondary: #{$color-text-secondary-theme-dark};
  --color-icon-primary: #{$color-icon-primary-theme-dark};
  --color-icon-secondary: #{$color-icon-secondary-theme-dark};
  --color-link: #{$color-link-theme-dark};
  --color-border-light: #{$color-border-light-theme-dark};
  --color-border-dark: #{$color-border-dark-theme-dark};
  --color-surface-light: #{$color-surface-light-theme-dark};
  --color-surface-dark: #{$color-surface-dark-theme-dark};
  --color-accent: #{$color-accent-theme-dark};
  --color-accent-blue: #{$color-accent-blue-theme-dark};
  --color-accent-green: #{$color-accent-green-theme-dark};
  --color-accent-yellow: #{$color-accent-yellow-theme-dark};
  --color-accent-pink: #{$color-accent-pink-theme-dark};
  --color-accent-purple: #{$color-accent-purple-theme-dark};
  --color-shadow: #{$color-shadow-theme-dark};
}

.accent-blue {
  --color-page-bg: var(--color-page-bg-blue);
  --color-accent: var(--color-accent-blue);
}

.accent-green {
  --color-page-bg: var(--color-page-bg-green);
  --color-accent: var(--color-accent-green);
}

.accent-yellow {
  --color-page-bg: var(--color-page-bg-yellow);
  --color-accent: var(--color-accent-yellow);
}

.accent-pink {
  --color-page-bg: var(--color-page-bg-pink);
  --color-accent: var(--color-accent-pink);
}

.accent-purple {
  --color-page-bg: var(--color-page-bg-purple);
  --color-accent: var(--color-accent-purple);
}

* {
  box-sizing: border-box;
}

img, 
picture {
  @include width-full;
  @include height-auto;
  line-height: 0;

  .theme-dark & {
    filter: brightness(0.85) contrast(1.1);
  }
}

picture {
  @include block;
}

html,
body {
  @include flex;
  @include square(100%);
  background: var(--color-page-bg);
  font-family: $font-family-default;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: $font-line-height-default;
  color: var(--color-text-primary);
}

body {
  // padding: $spacer $spacer-plus $spacer-plus $spacer;
  @include overflow-hidden;

  // Target only iOS Safari for iPhone X style screen inset
  // @supports #{'\(-webkit-touch-callout: none)'} {
  //   @include breakpoint($screen-landscape) {
  //     padding: $spacer env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  //   }

  //   @include breakpoint($screen-portrait) {
  //     padding: $spacer $spacer-plus $spacer-plus $spacer;
  //   }
  // }

  // @include breakpoint($screen-large) {
  //   padding: $spacer-2;
  // }
}

a {
  color: var(--color-link);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-heading;
  line-height: $font-line-height-heading;
  @include mar-top(0);
  @include mar-bottom(1);
}

p {
  @include mar-top(0);
  @include mar-bottom(1);
  @include body-med;

  a {
    transition: all $transition-short;
    text-decoration: underline;

    &:hover {
      background-color: var(--color-accent);
    }
  }
}

h1 {
  @include head-xlarge;
}

h2 {
  @include head-large;
}

h3 {
  @include head-med;
}

h4 {
  @include head-small;
}

h5 {
  @include head-xsmall;
}

h6 {
  @include head-xxsmall;
}