.tmpl-main-loading {
  @include flex;
  @include flex-vertical;
  @include flex-center-center;
  @include height-full;
}

.tmpl-main-loading__inner {
  @include relative;
}

.loading {
  @include flex;
  @include flex-center-center;
  @include flex-vertical;
  padding: 4px 4px 8px 4px;
  text-align: center;
  background-color: var(--color-page-inner-bg);
  border: 1px solid var(--color-border-dark);
  box-shadow: $shadow-large;
  border-radius: $br-4 $br-4 $br-1 $br-1;
  transition: all $transition-xxlong;

  &--expanded {
    @include pad(2);
    @include width-full;
    @include border-radius($br-16);

    @include breakpoint($screen-small) {
      @include pad(4);
      @include width-auto;
    }
  }
}

.loading__inner {
  @include border-radius($br-4);
  @include mar-bottom(1);
  @include width-full;
  @include flex;
  @include flex-vertical;
  width: 42px;
  padding: 10px $spacer-plus;
  background-color: var(--color-surface-light);
  align-items: center;
  transition: all $transition-xxlong;

  .loading--expanded & {
    @include mar-bottom(2);
    @include border-radius($br-16);
    width: 368px;
    padding: $spacer-8 $spacer-4;

    @include breakpoint($screen-small) {
      @include pad(8);
    }
  }
}

.loading__logo {
  @include square(18px);
  fill: var(--color-text-primary);
  transition: all $transition-xxlong;

  .loading--expanded & {
    @include square(56px);
    @include mar-bottom(2);

    @include breakpoint($screen-small) {
      @include square(72px);
    }
  }
}

.loading__header {
  @include hidden;
  @include head-large;
  transform: scaleY(#{-$spacer});
  opacity: 0;
  transition: all $transition-default;

  .loading--expanded & {
    opacity: 0;
    transform: scaleY(0);
  }
}

.loading__message {
  @include hidden;
  @include mar-bottom(1);
  @include head-xxsmall;

  .loading--expanded & {
    // @include block;
  }
}

.loading__progress {
  @include relative;
  @include border-radius($br-round);
  @include width-full;
  width: 42px;
  height: $spacer-quarter;
  background-color: transparent;
  transition: all $transition-xxlong;

  .loading--expanded & {
    @include block;
    width: 320px;
    height: $spacer;
    background-color: var(--color-surface-light);
  }
}

.loading__progress-fill,
.loading__progress-disk {
  @include border-radius($br-round);
  @include height-full;
  @include absolute;
  top: 0;
  background-color: var(--color-text-primary);
  transition: all $transition-xxlong;

  .loading--expanded & {
    width: 0%;
  }
}

.loading__progress-fill {
  left: 0;
  width: 4px;
}

.loading__progress-disk {
  right: 0;
  width: 24px;
}

.extensions-list {
  @include absolute;
  line-height: 0;
  bottom: -#{$spacer-9};
  left: 0;
}

.extension {
  @include mar-right(2);
  @include hidden;
  filter: drop-shadow($shadow-small);

  .theme-dark & {
    filter: drop-shadow($shadow-small);
  }
}

.extension-fill {
  fill: var(--color-page-inner-bg);
}

.extension-stroke {
  fill: var(--color-border-dark);
}

.extension-icon {
  fill: var(--color-icon-primary);
}