.tmpl-skip-to-main {
  @include hidden;
  @include fixed;
  top: 0;
  left: 0;
  padding: $spacer-2;
  background-color: $black;
  color: $white;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
  z-index: $z-skip-to-main;
  
  &:focus {
    transform: translateX(0);
  }
}

.tmpl-inner {
  @include flex;
  @include flex-vertical;
  @include width-full;
  @include height-full;
  @include border-radius($br-16);
  background-color: var(--color-page-inner-bg);
  box-shadow: $shadow-large;
  border: 1px solid var(--color-border-dark);

  @include breakpoint($screen-small) {
    @include flex-horizontal;
  }
}

.tmpl-nav {
  @include flex;
  @include flex-horizontal;
  @include width-full;
  @include overflow-hidden;
  @include flex-fixed;
  height: 64px;
  padding: $spacer-half;
  border-radius: 0 0 $br-16 $br-16;
  border-top: 1px solid var(--color-border-light);
  order: 1;
  z-index: $z-plus-one;
  overflow-y: scroll;

  @include breakpoint($screen-small) {
    @include flex-vertical;
    @include flex-fixed;
    @include height-full;
    @include border-radius(0);
    width: 72px;
    padding: 72px $spacer-half $spacer-half;
    order: 0;
    border-top: none;
    border-right: 1px solid var(--color-border-light);
  }
}

.tmpl-nav__link {
  @include relative;
  @include flex;
  @include flex-grow;
  @include flex-vertical;
  @include flex-center-center;
  @include mar-left(0.5);
  @include footnote;
  @include border-radius($br-8);
  padding: $spacer-half 0;
  text-decoration: none;
  color: var(--color-text-secondary);
  transition: all $transition-short;

  @include breakpoint($screen-small) {
    @include flex-fixed;
    @include mar-bottom(2);
    @include mar-left(0);
    @include pad(0);
    height: 64px;
  }

  &:first-of-type {
    @include mar-left(0);
  }

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-text-primary);
  }

  &--active {
    @include pad-bottom(1);
    color: var(--color-text-primary);
    font-weight: $font-medium;

    @include breakpoint($screen-small) {
      @include pad-bottom(0);
    }
  }
}

.tmpl-nav__link-hidden {
  @include hidden;
}

.tmpl-nav__link-icon {
  @include icon(24px);
}

.tmpl-nav__link-active-dot {
  @include hidden;
  @include absolute;
  @include round(5px);
  left: 50%;
  bottom: 4px;
  margin-left: -2.5px;
  background-color: var(--color-text-primary);

  @include breakpoint($screen-small) {
    top: 50%;
    left: auto;
    right: 5px;
    bottom: auto;
    margin-top: -2.5px;
  }

  .tmpl-nav__link--active & {
    display: block;
  }
}

.tmpl-main {
  @include relative;
  @include pad(0);
  @include flex-fluid;
  @include overflow-hidden;
  order: 0;

  @include breakpoint($screen-small) {
    order: 1;
  }
}

.tmpl-header {
  @include absolute;
  @include flex;
  @include flex-horizontal;
  @include flex-cross-center;
  @include width-full;
  padding: $spacer-half $spacer;
  border-radius: $br-16 $br-16 0 0;
  background-color: var(--color-page-inner-bg);
  z-index: $z-tmpl-header;

  @include breakpoint($screen-small) {
    border-radius: 0 $br-16 0 0;
  }
}

.tmpl-header__address {
  @include footnote;
  color: var(--color-text-secondary);
}

.tmpl-header__fill {
  @include flex-grow;
  margin: 0 $spacer;
  height: 11px;
  background-image: url('#{$image-path}header-lines.svg');
  background-position: center left;
  background-repeat: repeat-x;
}

.tmpl-header__theme-menu {
  @include relative;
  @include square(20px);

  @include breakpoint($screen-small) {
    @include square(22px);
  }
}

.tmpl-header__theme-menu-overlay {
  @include fixed;
  @include width-full;
  @include height-full;
  @include hidden;
  top: 0;
  left: 0;
  z-index: $z-theme-menu-overlay;
  // background-color: rgba(0,0,0,0.5);

  .tmpl-header__theme-menu--active & {
    @include block;
  }
}

.tmpl-header__theme-menu-button {
  @include pad(0.25);
  @include border-radius($br-4);
  color: var(--color-text-secondary);
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color $transition-short;

  .tmpl-header__theme-menu--active &,
  &:hover {
    color: var(--color-text-primary);
    background-color: var(--color-accent);
  }
}

.tmpl-header__theme-menu-button-icon {
  @include icon(16px);
  @include hidden;

  @include breakpoint($screen-small) {
    @include square(18px);
  }

  &--auto {
    .theme-light &,
    .theme-dark & {
      @include hidden;
    }

    .theme-auto & {
      @include block;
    }
  }

  &--dark {
    .theme-dark & {
      @include block;
    }

    .theme-auto &, 
    .theme-light & {
      @include hidden;
    }
  }

  &--light {
    .theme-light & {
      @include block;
    }

    .theme-auto &, 
    .theme-dark & {
      @include hidden;
    }
  }
}

.tmpl-header__theme-menu-dropdown {
  @include absolute;
  @include pad(2);
  top: $spacer-3;
  right: 0;
  width: calc(100vw - $spacer-5);
  background-color: var(--color-page-inner-bg);
  box-shadow: $shadow-small;
  border: 1px solid var(--color-border-dark);
  border-radius: $br-4;
  opacity: 0;
  transform: translateY(#{-$spacer-half});
  transition: all $transition-short;
  visibility: hidden;
  z-index: $z-theme-menu-dropdown;

  @include breakpoint($screen-small) {
    @include pad(1);
    width: 136px;
  }

  .tmpl-header__theme-menu--active & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.tmpl-header__theme-menu-heading {
  @include mar-top(1);
  @include mar-bottom(0.5);
  @include footnote-small;
  text-transform: uppercase;
  color: var(--color-text-secondary);

  &:first-of-type {
    @include mar-top(0);
    @include mar-bottom(0);
  }
}

.tmpl-header__theme-button {
  @include flex;
  @include flex-horizontal;
  @include flex-cross-center;
  @include width-full;
  line-height: 1;
  background-color: transparent;
  padding: $spacer-half $spacer-quarter;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: $br-4;
  cursor: pointer;
  transition: background-color $transition-short;
  color: var(--color-text-primary);

  &:hover {
    background-color: var(--color-accent);
  }

  &--auto {
    .theme-light &,
    .theme-dark & {
      border-color: transparent;
    }

    .theme-auto & {
      border-color: var(--color-border-dark);
    }
  }

  &--light {
    .theme-dark &,
    .theme-auto & {
      border-color: transparent;
    }

    .theme-light & {
      border-color: var(--color-border-dark);
    }
  }

  &--dark {
    .theme-light &,
    .theme-auto & {
      border-color: transparent;
    }

    .theme-dark & {
      border-color: var(--color-border-dark);
    }

    .theme-auto.theme-dark & {
      border-color: transparent;
    }
  }
}

.tmpl-header__theme-button-icon {
  @include icon(24px);
  @include mar-right(0.5);

  @include breakpoint($screen-small) {
    @include square(16px);
  }
}

.tmpl-header__theme-button-label {
  @include footnote;
}

.tmpl-header__accent-list {
  @include flex;
  @include flex-horizontal;
}

.tmpl-header__accent-button {
  @include square(24px);
  @include pad(0); //Safari iOS override
  @include mar-right(1);
  border-radius: $br-round;
  border: 1px solid var(--color-border-light);
  cursor: pointer;

  @include breakpoint($screen-small) {
    @include square(16px);
    @include mar-right(0.25);
  }

  &--active,
  &:hover {
    border: 1px solid var(--color-border-dark);
  }

  &--classic {
    background-color: $color-page-bg;

    .theme-dark & {
      background-color: $color-page-bg-theme-dark;
    }
  }

  &--blue {
    background-color: var(--color-page-bg-blue);
  }

  &--green {
    background-color: var(--color-page-bg-green);
  }

  &--yellow {
    background-color: var(--color-page-bg-yellow);
  }

  &--pink {
    background-color: var(--color-page-bg-pink);
  }

  &--purple {
    background-color: var(--color-page-bg-purple);
  }
}

.tmpl-content {
  @include width-full;
  @include height-full;
  overflow-y: scroll;
}

.tmpl-content__inner {
  @include center;
  @include width-full;
  max-width: 784px; // 720px + 32px left and right padding;
  padding: $spacer-6 $spacer-2 $spacer-4 $spacer-2;
  
  @include breakpoint($screen-small) {
    padding: $spacer-8 $spacer-4 $spacer-4 $spacer-4;
  }
}

.tmpl-page-heading-wrapper {
  @include relative;
}

.tmpl-page-heading {
  @include mar-bottom(2);
}

.tmpl-page-subsection {
  @include mar-top(4);

  @include breakpoint($screen-small) {
    @include mar-top(8);
  }

  &--first {
    @include mar-top(4);

    @include breakpoint($screen-small) {
      @include mar-top(4);
    }
  }
}

.tmpl-heading-link {
  @include flex;
  @include flex-cross-center;
  @include mar-bottom(1);
}

.tmpl-heading-link__heading {
  @include head-med;
  @include mar-bottom(0);
}

.tmpl-link-arrow {
  @include mar-left(1);
  @include pad(0.5);
  @include border-radius($br-round);
  line-height: 0;
  background-color: var(--color-surface-light);
  transition: background-color $transition-short;

  a:hover &,
  &:hover {
    background-color: var(--color-surface-dark);
  }

  &--back {
    @include absolute;
    @include mar-left(0);
    @include hidden;
    top: 50%;
    left: -45px;
    margin-top: -18.5px;

    @include breakpoint(946px) {
      @include block;
    }
  }
}

.tmpl-link-arrow__icon {
  @include icon(17px);
  color: var(--color-icon-secondary);
  transition: color $transition-short;

  .tmpl-link-arrow--large & {
    @include square(29px);
  }

  a:hover &,
  &:hover {
    color: var(--color-icon-primary);
  }
}

.tmpl-project-row {
  @include flex;
  @include flex-vertical;
  @include mar-top(4);

  .tmpl-page-heading-wrapper + &,
  &:first-of-type {
    @include mar-top(0);
  }

  @include breakpoint($screen-small) {
    @include flex-horizontal;
  }
}

.tmpl-project {
  @include flex-fixed;
  @include mar-top(4);

  &:first-of-type {
    @include mar-top(0);
  }

  @include breakpoint($screen-small) {
    @include flex-fluid;
    @include mar-left(4);
    @include mar-top(0);

    &:first-of-type {
      @include mar-left(0);
    }
  }
}

.tmpl-project__thumbnail-wrapper {
  @include relative;
}

.tmpl-project__thumbnail {
  @include border;
  @include border-radius($br-16);
  @include block;
  transition: all $transition-short;

  .tmpl-project:hover & {
    transform: translate(-5px, -5px);
    border: 1px solid var(--color-border-dark);
    box-shadow: $shadow-large;
  }

  &--xlarge {
    @include breakpoint(1140px) {
      width: 960px;
      margin-left: -120px;
    }
  }
}

.tmpl-project-floating-label {
  @include absolute;
  @include flex;
  @include flex-horizontal;
  @include flex-cross-center;
  @include border-radius($br-8);
  @include head-xxsmall;
  color: var(--color-text-primary);
  bottom: $spacer;
  left: $spacer;
  background-color: var(--color-page-inner-bg);
  padding: $spacer;
  border: 1px solid var(--color-border-light);
  transition: all $transition-short;
  box-shadow: $shadow-small;
  z-index: $z-plus-one;

  @include breakpoint($screen-small) {
    top: $spacer-2;
    left: -#{$spacer-3};
    bottom: auto;
  }

  .tmpl-project:hover & {
    transform: translate(-5px, -5px);
  }
}

.tmpl-project-floating-label-icon {
  @include mar-right(0.5);
  @include square(15px);
  transition: color $transition-short;
  fill: transparent;
  stroke: var(--color-icon-primary);

  @include breakpoint($screen-small) {
    @include square(17px);
  }

  .tmpl-project:hover & {
    fill: #ff0;

    .theme-dark & {
      fill: #DEDE01;
      stroke: #DEDE01;
    }
  }
}

.tmpl-project__title {
  @include mar-top(1);
  @include head-xsmall;
}

.tmpl-project__tag-item {
  @include footnote-small;
  @include mar-left(0.5);
  @include border-radius($br-4);
  color: var(--color-text-primary);
  padding: $spacer-half;
  background-color: var(--color-surface-light);

  &:first-of-type {
    @include mar-left(0);
  }
}