#granim-canvas-wrapper {
  @include fixed;
  @include square(100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-zero;
}

#granim-canvas {
  @include absolute;
  @include square(100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#tmpl-bg-overlay {
  @include fixed;
  @include square(100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/bg-noise.png') repeat top left;
  background-size: 50%;
  opacity: 0.07;
}

.tmpl-skip-to-main {
  @include hidden;
  @include fixed;
  top: 0;
  left: 0;
  padding: $spacer-2;
  background-color: $black;
  color: $white;
  transform: translateX(-100%);
  transition: all $transition-medium;
  z-index: $z-skip-to-main;
  
  &:focus {
    transform: translateX(0);
  }
}

.tmpl-logo {
  @include fixed;
  top: $spacer-3;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  color: var(--color-border-dark);
  transition: all $transition-xlong;
  z-index: $z-tmpl-header;
  opacity: 0;
  transform: scale(0);

  &--on {
    opacity: 1;
    transform: scale(1);
  }

  &:hover {
    color: var(--color-text-primary);
    transform: scale(1.1);
  }

  @include breakpoint($screen-medium) {
    top: $spacer-4;
    left: $spacer-4;
    margin-left: 0;
  }

  @include breakpoint($screen-large) {
    top: $spacer-3;
    width: 80px;
    height: 80px;
  }

  // Target only iOS Safari for iPhone X style screen inset
  @supports #{'\(-webkit-touch-callout: none)'} {
    @include breakpoint($screen-landscape) {
      left: env(safe-area-inset-left);
    }
  }
}

.tmpl-logo__smile {
  @include absolute;
  @include icon(18px);
  top: 24px;
  left: 24px;
  transition: all $transition-xlong;

  .tmpl-logo:hover & {
    transform: scale(0.9);
  }

  @include breakpoint($screen-large) {
    @include icon(24px);
    top: 28px;
    left: 28px;
  }
}

.tmpl-logo__text {
  fill: currentColor;
  animation: spin 20s infinite linear $duration-xshort;
}

.tmpl-nav {
  @include fixed;
  @include flex;
  @include flex-cross-center;
  @include border-radius($br-round);
  bottom: -72px;
  left: $spacer-2;
  width: calc(100vw - $spacer-4);
  height: 64px;
  padding: $spacer-half;
  border-top: 1px solid var(--color-trans-white-strong);
  background: linear-gradient(180deg, transparent 0%, var(--color-trans-white-light) 100%);
  box-shadow: $shadow-xl;
  backdrop-filter: blur(8px);
  z-index: $z-tmpl-header;
  transition: all $transition-xxlong;

  @include breakpoint($screen-medium) {
    top: -72px;
    bottom: auto;
    left: 50%;
    width: 376px;
    margin-left: -188px;
    transform: scale(0.95);
  }

  &--on {
    opacity: 1;
    bottom: $spacer-2;

    @include breakpoint($screen-medium) {
      top: 32px;
      bottom: auto;
    }
  }

  &:hover {
    transform: scale(1);
    background: linear-gradient(180deg, transparent 0%, var(--color-trans-white-medium) 100%);
  }
}

.tmpl-nav__link {
  @include relative;
  @include flex;
  @include flex-grow;
  @include flex-vertical;
  @include flex-center-center;
  @include footnote;
  @include overflow-hidden;
  padding: $spacer-2 0;
  text-decoration: none;
  color: var(--color-text-primary);
  transition: all $transition-long;
  opacity: 0.3;

  &--active,
  &:hover {
    opacity: 1;
  }
}

.tmpl-nav__link-label {
  @include absolute;
  bottom: -8px;
  opacity: 0;
  transition: all $transition-long;

  .tmpl-nav__link:hover & {
    bottom: 4px;
    opacity: 1;
  }
}

.tmpl-nav__link-hidden {
  @include hidden;
}

.tmpl-nav__link-icon {
  @include relative;
  @include icon(24px);
  top: 0;
  transition: top $transition-long;

  .tmpl-nav__link:hover & {
    top: -4px;
  }
}

.tmpl-main {
  @include flex-grow;
  @include relative;
  opacity: 0;
  transition: all $transition-xlong;

  &--on {
    opacity: 1;
  }
}

.tmpl-content {
  @include center;
  max-width: 1088px; //1024 + 32px left and right
  padding: 112px $spacer-3 $spacer-12 $spacer-3;

  @include breakpoint($screen-medium) {
    padding: 128px $spacer-4 $spacer-18 $spacer-4;
  }
  
  @include breakpoint($screen-large) {
    padding-top: 144px;
  }

  // Target only iOS Safari for iPhone X style screen inset
  @supports #{'\(-webkit-touch-callout: none)'} {
    @include breakpoint($screen-landscape) {
      padding-right: env(safe-area-inset-right);
      padding-bottom: env(safe-area-inset-bottom);
      padding-left: env(safe-area-inset-left);
    }
  }
}

.tmpl-page-heading-wrapper {
  @include relative;
}

.tmpl-page-heading {
  @include mar-bottom(3);
}

.tmpl-scroll-view {
  transition: all 2s $timing-curves-default;
  opacity: 0;

  &--active {
    opacity: 1;
  }
}

.tmpl-page-subsection {
  @include relative;
  @include mar-top(6);

  @include breakpoint($screen-medium) {
    @include mar-top(8);
  }

  &--first {
    @include mar-top(3);

    @include breakpoint($screen-small) {
      @include mar-top(5);
    }
  }
}

.tmpl-page-subsection__header {
  @include flex;
  @include flex-cross-center;
  @include mar-bottom(3);
  justify-content: space-between;
}

.tmpl-page-subsection__header-title {
  @include head-large;
  @include mar-bottom(0);
}

.tmpl-page-subsection__header-link {
  @include flex;
  @include flex-cross-center;
  @include body-small;
  line-height: 1;

  &:hover {
    text-decoration: underline;
  }
}

.tmpl-page-subsection__header-link-arrow {
  @include icon(18px);
  @include mar-left(0.25);
  transition: all $transition-long;

  .tmpl-page-subsection__header-link:hover & {
    transform: translate(4px, 0);
  }
}

.tmpl-link-arrow {
  @include mar-left(1);
  @include pad(0.5);
  @include border-radius($br-round);
  line-height: 0;
  background-color: var(--color-surface-light);
  transition: background-color $transition-short;

  a:hover &,
  &:hover {
    background-color: var(--color-surface-dark);
  }

  &--back {
    @include absolute;
    @include mar-left(0);
    @include hidden;
    top: 50%;
    left: -45px;
    margin-top: -18.5px;

    @include breakpoint(1200px) {
      @include block;
    }
  }
}

.tmpl-link-arrow__icon {
  @include icon(17px);
  color: var(--color-icon-secondary);
  transition: color $transition-short;

  .tmpl-link-arrow--large & {
    @include square(29px);
  }

  a:hover &,
  &:hover {
    color: var(--color-icon-primary);
  }
}

.tmpl-project-row {
  @include mar-top(3);
  @include grid;
  grid-template-columns: auto;
  grid-gap: $spacer-3;
  grid-column-gap: $spacer-3;
  grid-template-columns: auto;

  @include breakpoint($screen-xsmall) {
    grid-template-columns: auto auto;
  }

  @include breakpoint($screen-small) {
    grid-template-columns: auto auto auto;
  }

  &--first {
    @include mar-top(0);
  }
}

.tmpl-project {
  @include relative;
  @include border-radius(24px);
  transition: all $transition-xlong;
  border-top: 1px solid var(--color-trans-white-medium);
  box-shadow: $shadow-xl;

  &:hover {
    transform: scale(1.05);
  }
}

.tmpl-project__thumbnail-wrapper {
  @include relative;
}

.tmpl-project__thumbnail {
  @include block;
  @include border-radius(24px);
  transition: all $transition-xlong;
  transform: scale(1.05);

  .tmpl-project:hover & {
    transform: scale(1);
  }
}

.tmpl-project__details {
  @include absolute;
  @include overflow-hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: $spacer-8 $spacer-2 $spacer-plus $spacer-2;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.tmpl-project__title {
  @include mar-top(1);
  @include head-xsmall;
}

.tmpl-project__desc {
  @include body-small;
}

.tmpl-project__tag-item {
  @include footnote;
  @include mar-left(1);
  @include border-radius($br-4);
  color: var(--color-text-primary);

  &:first-of-type {
    @include mar-left(0);
  }
}

.tmpl-footer {
  @include flex;
  @include flex-cross-center;
  @include mar-left(3);
  @include mar-right(3);
  @include pad-top(1);
  @include pad-bottom(12);
  @include footnote;
  @include type-align-center;
  flex-wrap: wrap;
  z-index: $z-plus-one;
  line-height: 1;
  justify-content: space-between;
  max-width: 1024px;
  border-top: 1px solid rgba(0,0,0,0.2);

  @include breakpoint($screen-medium) {
    @include mar-left(4);
    @include mar-right(4);
    @include type-align-left;
    @include pad-bottom(1);
  }

  @include breakpoint($screen-large) {
    @include width-full;
    @include center;
  }
}

.tmpl-footer__copy {
  @include flex-fixed(100%);

  @include breakpoint($screen-small) {
    @include flex-fixed;
  }
}

.tmpl-footer__git {
  @include flex;
  @include flex-main-center;
  @include flex-cross-center;
  @include mar-top(1);
  @include flex-fixed(100%);

  &:hover {
    text-decoration: underline;
  }

  @include breakpoint($screen-small) {
    @include mar-top(0);
    @include flex-fixed;
  }
}

.tmpl-footer__git-icon {
  @include icon(16px);
  @include mar-right(0.5);
}