.work-tags {
  // @include mar-top(1);
  @include footnote;
}

.work-tag__item {
  @include border-radius($br-4);
  color: $color-text-primary;
  padding: $spacer-half $spacer;
  background-color: $grey-1;
}

.work-links {
  @include mar-top(1.5);
  @include footnote;

  a {
    text-decoration: underline;
  }
}

.work-samples {
  @include mar-top(2);
  @include grid;
  grid-template-columns: auto;
  grid-gap: $spacer-2;
  grid-column-gap: $spacer-2;

  @include breakpoint($screen-small) {
    @include mar-top(4);
    grid-gap: $spacer-4;
    grid-column-gap: $spacer-4;
  }

  &--mar-top-0 {
    @include mar-top(0);
  }
}

.work-sample-link {
  @include border-radius($br-16);
  @include border;
  line-height: 0;
  transition: border $transition-short;

  &:hover {
    border: 1px solid $color-border-dark;
  }
}

.work-samples--2M-3D {
  grid-template-columns: auto auto;

  @include breakpoint($screen-small) {
    grid-template-columns: auto auto auto;
  }
}

.work-samples--1M-2D {
  grid-template-columns: auto;

  @include breakpoint($screen-small) {
    grid-template-columns: auto auto;
  }
}