.work-tags {
  @include footnote;
}

.work-links {
  @include mar-top(1.5);
  @include footnote;
}

.work-samples {
  @include mar-top(2);
  @include grid;
  grid-template-columns: auto;
  grid-gap: $spacer-2;
  grid-column-gap: $spacer-2;

  @include breakpoint($screen-small) {
    @include mar-top(4);
    grid-gap: $spacer-4;
    grid-column-gap: $spacer-4;
  }

  &--mar-top-0 {
    @include mar-top(0);
  }
}

.work-sample-link {
  @include border-radius(24px);
  line-height: 0;
  transition: all $transition-xlong;
  box-shadow: $shadow-xl;

  &:hover {
    transform: translate(0, -5px);
  }
}

.work-samples--2M-3D {
  grid-template-columns: auto auto;

  @include breakpoint($screen-small) {
    grid-template-columns: auto auto auto;
  }
}

.work-samples--1M-2D {
  grid-template-columns: auto;

  @include breakpoint($screen-small) {
    grid-template-columns: auto auto;
  }
}