extends _tmpl

block vars
  - var page = "about"
  - var page_title = "About"

block content

  section.tmpl-page-subsection.tmpl-page-subsection--first.tmpl-scroll-view.js-scroll-view
    img.about-hero__avatar(src="/img/don-osborne.png")
    h3 Don Osborne
    p
      | Growing up in North Carolina, I had a passion for building things like toys and RC cars. My first computer was a PC in 1995, but I was disappointed by how difficult it was to use. A year later, I discovered the Mac with its user-friendly design and was captivated by the world of technology. This led to interests in desktop publishing, art, film, and web design, which ultimately led to my calling in UX.
  
  section.tmpl-page-subsection.tmpl-scroll-view.js-scroll-view
    h3 
        | Career
    p 
      | Passionate about design and technology, I started building websites in high school in 1996. I went to university for graphic design &amp; multimedia, then found video editing. I was inspired to attend film school which led me to Los Angeles in 2005 as an assistant editor. Despite my focus on film, I seized an opportunity to join a startup as a UI designer in 2010. Over the years, I've honed my skills in research, user testing, information architecture, and prototyping to become a well-rounded designer. In 2017, I took on the role of managing other designers, sharing my knowledge and guiding them towards successful careers in design.
  
  section.tmpl-page-subsection.tmpl-scroll-view.js-scroll-view
    h3 
      | Some of my roles 
    .about-roles 
      a(href="http://www.greendot.com" target="_blank").about-role-item
        img.about-role-item__image(loading="lazy" src="/img/logo-greendot.png")
        .about-role-item__details
          h4.about-role-item__heading Green Dot
          .about-role-item__industry
            | Financial services
          .about-role-item__role
            | Director of User Experience

      a(href="http://www.tenable.com" target="_blank").about-role-item
        img.about-role-item__image(loading="lazy" src="/img/logo-tenable.png")
        .about-role-item__details
          h4.about-role-item__heading Tenable
          .about-role-item__industry
            | Network security
          .about-role-item__role
            | Senior UX Designer

      a(href="http://www.tivo.com" target="_blank").about-role-item
        img.about-role-item__image(loading="lazy" src="/img/logo-tivo.png")
        .about-role-item__details
          h4.about-role-item__heading Tivo (previously Rovi)
          .about-role-item__industry
            | Entertainment
          .about-role-item__role
            | Senior UI Engineer &amp; Designer
  
  section.tmpl-page-subsection.tmpl-scroll-view.js-scroll-view
    h3 Resume
    .about-resume
      a(href="/downloads/Don-Osborne-Resume.pdf" target="_blank").about-resume__link
        svg.about-resume__link-icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M4.75 3.3999C4.75 3.26183 4.86193 3.1499 5 3.1499H14.7858C14.8521 3.1499 14.9157 3.17624 14.9626 3.22313L19.1768 7.43734C19.2237 7.48422 19.25 7.54781 19.25 7.61412V20.5999C19.25 20.738 19.1381 20.8499 19 20.8499H5C4.86193 20.8499 4.75 20.738 4.75 20.5999V3.3999ZM5 1.6499C4.0335 1.6499 3.25 2.43341 3.25 3.3999V20.5999C3.25 21.5664 4.0335 22.3499 5 22.3499H19C19.9665 22.3499 20.75 21.5664 20.75 20.5999V7.61412C20.75 7.14999 20.5656 6.70487 20.2374 6.37668L16.0232 2.16247C15.695 1.83428 15.2499 1.6499 14.7858 1.6499H5ZM7.2 6.4499C6.78579 6.4499 6.45 6.78569 6.45 7.1999C6.45 7.61412 6.78579 7.9499 7.2 7.9499H12C12.4142 7.9499 12.75 7.61412 12.75 7.1999C12.75 6.78569 12.4142 6.4499 12 6.4499H7.2ZM7.2 11.2499C6.78579 11.2499 6.45 11.5857 6.45 11.9999C6.45 12.4141 6.78579 12.7499 7.2 12.7499H16.8C17.2142 12.7499 17.55 12.4141 17.55 11.9999C17.55 11.5857 17.2142 11.2499 16.8 11.2499H7.2ZM7.2 16.0499C6.78579 16.0499 6.45 16.3857 6.45 16.7999C6.45 17.2141 6.78579 17.5499 7.2 17.5499H16.8C17.2142 17.5499 17.55 17.2141 17.55 16.7999C17.55 16.3857 17.2142 16.0499 16.8 16.0499H7.2Z" stroke="none")
        | Don Osborne Resume.pdf