extends _tmpl

block vars
  - var title = "Contact"

block content
  h1.tmpl-page-heading #{title}
  ul.contact-list 
    li.contact-list__item 
      a.contact-list__link(href="mailto:don@humanfriendlydesign.com")
        svg.contact-list__link-icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M2.59833 4.31177C1.99174 4.31177 1.5 4.8035 1.5 5.41009V18.59C1.5 19.1966 1.99174 19.6883 2.59833 19.6883H21.4017C22.0083 19.6883 22.5 19.1966 22.5 18.59V5.41009C22.5 4.80351 22.0083 4.31177 21.4017 4.31177H2.59833ZM2.81799 6.94917V5.62976H21.182V6.94917C21.047 6.94004 20.908 6.97227 20.785 7.05034L12 12.6254L3.21503 7.05034C3.09202 6.97227 2.953 6.94004 2.81799 6.94917ZM2.81799 8.35936V18.3703H21.182V8.35936L12.3531 13.9623C12.1376 14.0991 11.8624 14.0991 11.6469 13.9623L2.81799 8.35936Z", stroke="none")
        .contact-list__link-info
          h2.contact-list__link-heading Email
          p.contact-list__link-description don@humanfriendlydesign.com
        svg.contact-list__link-arrow(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M9.88763 5.0525C10.1898 4.76921 10.6644 4.78452 10.9477 5.0867L16.9477 11.4867C17.2182 11.7752 17.2182 12.2241 16.9477 12.5126L10.9477 18.9126C10.6644 19.2148 10.1898 19.2301 9.88763 18.9468C9.58544 18.6635 9.57013 18.1889 9.85343 17.8867L15.3725 11.9997L9.85343 6.11261C9.57013 5.81043 9.58544 5.3358 9.88763 5.0525Z")
    li.contact-list__item 
      a.contact-list__link(href="https://www.linkedin.com/in/intastella/")
        svg.contact-list__link-icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          rect(x="2.35", y="2.3501", width="19.3", height="19.3", rx="1.25", fill="none", stroke-width="1.5", stroke-linejoin="round")
          path(d="M8.89923 10.189H6.55427V17.5941H8.89923V10.189Z", stroke="none")
          circle(cx="7.72675", cy="7.72665", r="1.32675", stroke="none")
          path(d="M14.7301 10.004C16.1605 10.004 17.6002 10.8701 17.6002 13.0979L17.5814 17.5997H15.2289V13.6305C15.2289 12.4634 14.6737 12.0002 13.9256 12.0002H13.8362C13.5495 12.0379 13.1714 12.112 12.9071 12.4225C12.6428 12.7329 12.5137 13.2546 12.5477 13.6583V17.5997H10.1951V10.1893H12.4065V11.4458H12.4724C12.7285 10.8123 13.0606 10.448 13.3778 10.2888C13.7955 10.0791 14.2618 9.98095 14.7301 10.004Z", stroke="none")
        .contact-list__link-info
          h2.contact-list__link-heading LinkedIn
          p.contact-list__link-description linkedin.com/in/intastella
        svg.contact-list__link-arrow(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M9.88763 5.0525C10.1898 4.76921 10.6644 4.78452 10.9477 5.0867L16.9477 11.4867C17.2182 11.7752 17.2182 12.2241 16.9477 12.5126L10.9477 18.9126C10.6644 19.2148 10.1898 19.2301 9.88763 18.9468C9.58544 18.6635 9.57013 18.1889 9.85343 17.8867L15.3725 11.9997L9.85343 6.11261C9.57013 5.81043 9.58544 5.3358 9.88763 5.0525Z")
    li.contact-list__item 
      a.contact-list__link(href="https://github.com/intastella")
        svg.contact-list__link-icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M9.88456 18.1687C9.8886 18.8544 9.90474 18.9367 9.90474 19.1319C9.90474 19.1319 9.90474 20.8594 9.90474 21.4106C11.2494 21.7298 12.6219 21.7298 13.9592 21.4106C13.9794 20.8594 13.9794 19.1319 13.9794 19.1319C13.9794 18.8625 13.9895 17.976 13.9895 16.8776C13.9895 16.1107 13.7266 15.6092 13.432 15.3554C15.2625 15.1521 17.1842 14.4573 17.1842 11.2999C17.1842 10.4024 16.8664 9.66926 16.3397 9.09459C16.4239 8.88672 16.7059 8.05118 16.2574 6.9195C16.2574 6.9195 15.5687 6.69851 13.9996 7.76157C13.3432 7.57943 12.6404 7.48862 11.9421 7.48509C11.2433 7.48862 10.54 7.57943 9.88456 7.76157C8.31443 6.69851 7.62473 6.9195 7.62473 6.9195C7.17721 8.05118 7.45924 8.88672 7.54401 9.09459C7.01828 9.66926 6.69789 10.4024 6.69789 11.2999C6.69789 14.4493 8.61666 15.1541 10.4416 15.362C10.207 15.5673 9.87548 17.0668 9.88456 18.1687ZM9.88456 18.1687C7.59849 18.6652 7.12524 17.0376 7.12524 17.0376C6.75137 16.088 6.21252 15.8352 6.21252 15.8352C5.46631 15.3256 6.21247 15.7606 6.21247 15.7606C6.8117 16.1854 7.23815 17.2828 7.23815 17.2828C7.85484 18.1395 8.50118 18.4691 9.88456 18.1687Z", fill="none", stroke-width="1.5", stroke-linejoin="round")
          circle(cx="12", cy="12", r="9.75", fill="none", stroke-width="1.5")
        .contact-list__link-info
          h2.contact-list__link-heading Github
          p.contact-list__link-description github.com/intastella
        svg.contact-list__link-arrow(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M9.88763 5.0525C10.1898 4.76921 10.6644 4.78452 10.9477 5.0867L16.9477 11.4867C17.2182 11.7752 17.2182 12.2241 16.9477 12.5126L10.9477 18.9126C10.6644 19.2148 10.1898 19.2301 9.88763 18.9468C9.58544 18.6635 9.57013 18.1889 9.85343 17.8867L15.3725 11.9997L9.85343 6.11261C9.57013 5.81043 9.58544 5.3358 9.88763 5.0525Z")
    li.contact-list__item 
      a.contact-list__link(href="https://techhub.social/@intastella", rel="me")
        svg.contact-list__link-icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M20.6412 13.9461L20.6412 13.9462C20.5528 14.4009 20.1012 15.0296 19.2329 15.6128C18.3929 16.177 17.275 16.6184 16.0784 16.7613C14.704 16.9253 13.4095 17.0679 12.0381 17.005L12.0381 17.005C10.5635 16.9374 9.28687 16.7294 8.56972 16.5908C7.84447 16.4506 6.96117 17.0131 7.08816 17.9439C7.26999 19.3199 7.94949 20.3108 8.88051 20.9501C9.46509 21.3516 10.1321 21.6041 10.8114 21.7428C9.80498 21.7099 8.64662 21.5613 7.35265 21.2188C5.57356 20.7479 4.5255 19.5843 3.88665 17.9627C3.23247 16.3022 3.02858 14.2035 2.97471 11.9896L2.9747 11.9891C2.95071 11.0287 2.95521 10.1141 2.95932 9.27715C2.96082 8.97215 2.96226 8.67746 2.96226 8.39463C2.96226 4.39256 5.46667 3.20538 5.50814 3.18622C5.50883 3.1859 5.50884 3.18591 5.50814 3.18623L5.50957 3.18557L5.51383 3.18363C6.86155 2.56625 9.29799 2.27207 11.9723 2.25H12.0322C14.7066 2.27207 17.1447 2.56626 18.4922 3.18362L18.4965 3.18557L18.4979 3.18622C18.4556 3.16674 21.0415 4.32515 21.0437 8.38935L21.0438 8.40523C21.045 8.53112 21.0702 11.7401 20.6412 13.9461Z", fill="none", stroke-width="1.5", stroke-linejoin="round")
          path(d="M6.61279 13.4171V8.45576C6.61279 8.45576 6.61279 5.9751 9.30652 5.9751C12.0002 5.9751 12.0002 8.45576 12.0002 8.45576M12.0002 8.45576V11.2256M12.0002 8.45576C12.0002 8.45576 12.0002 5.9751 14.694 5.9751C17.3877 5.9751 17.3877 8.45576 17.3877 8.45576V13.4171", fill="none", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
        .contact-list__link-info
          h2.contact-list__link-heading Mastodon
          p.contact-list__link-description @intastella@techhub.social
        svg.contact-list__link-arrow(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M9.88763 5.0525C10.1898 4.76921 10.6644 4.78452 10.9477 5.0867L16.9477 11.4867C17.2182 11.7752 17.2182 12.2241 16.9477 12.5126L10.9477 18.9126C10.6644 19.2148 10.1898 19.2301 9.88763 18.9468C9.58544 18.6635 9.57013 18.1889 9.85343 17.8867L15.3725 11.9997L9.85343 6.11261C9.57013 5.81043 9.58544 5.3358 9.88763 5.0525Z")
    li.contact-list__item 
      a.contact-list__link(href="https://www.instagram.com/intastella/")
        svg.contact-list__link-icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M21.1551 18.5408L21.1546 18.542C20.9251 19.1354 20.5742 19.6743 20.1243 20.1242C19.6744 20.5741 19.1354 20.9251 18.542 21.1546L18.5409 21.155C17.9643 21.3791 17.2898 21.541 16.2539 21.5883C15.1619 21.6381 14.821 21.6501 12.0002 21.6501C9.1794 21.6501 8.83863 21.6381 7.74648 21.5883C6.71064 21.541 6.03612 21.3791 5.45949 21.155L5.45951 21.155L5.45196 21.1521C4.86011 20.9294 4.32397 20.5803 3.88092 20.1291L3.88101 20.129L3.87124 20.1194C3.42002 19.6763 3.07088 19.1402 2.84815 18.5483L2.8482 18.5483L2.84527 18.5408C2.62117 17.9642 2.45929 17.2897 2.41201 16.2538L2.412 16.2537C2.36197 15.1618 2.35 14.821 2.35 12.0001C2.35 9.17928 2.36197 8.83845 2.412 7.74656L2.41202 7.74629C2.4591 6.71049 2.62097 6.03593 2.84493 5.4592L2.84497 5.45921L2.84771 5.45193C3.07052 4.86006 3.41976 4.32391 3.87107 3.88089L3.87116 3.88098L3.88084 3.87113C4.32389 3.41991 4.86003 3.07077 5.45188 2.84805L5.45189 2.84809L5.45943 2.84516C6.036 2.62106 6.7105 2.45919 7.74641 2.4119C8.83838 2.36207 9.17927 2.3501 12.0001 2.3501C14.8209 2.3501 15.1617 2.36207 16.2536 2.4121L16.2538 2.41212C17.2896 2.4592 17.9642 2.62107 18.5409 2.84503L18.5409 2.84507L18.5483 2.84783C19.1402 3.0706 19.6763 3.41982 20.1194 3.87112L20.1193 3.87121L20.1291 3.88085C20.5804 4.3239 20.9295 4.86005 21.1522 5.45189L21.1522 5.45191L21.1551 5.45944C21.3792 6.03602 21.5411 6.71053 21.5884 7.74643C21.6382 8.8384 21.6502 9.17933 21.6502 12.0001C21.6502 14.8209 21.6382 15.1617 21.5884 16.2538C21.5411 17.2897 21.3792 17.9642 21.1551 18.5408Z", fill="none", stroke-width="1.5")
          circle(cx="11.9999", cy="12.0001", r="4.39974", fill="none", stroke-width="1.5")
          circle(cx="17.5516", cy="6.44853", r="1.2")
        .contact-list__link-info
          h2.contact-list__link-heading Instagram
          p.contact-list__link-description @intastella
        svg.contact-list__link-arrow(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M9.88763 5.0525C10.1898 4.76921 10.6644 4.78452 10.9477 5.0867L16.9477 11.4867C17.2182 11.7752 17.2182 12.2241 16.9477 12.5126L10.9477 18.9126C10.6644 19.2148 10.1898 19.2301 9.88763 18.9468C9.58544 18.6635 9.57013 18.1889 9.85343 17.8867L15.3725 11.9997L9.85343 6.11261C9.57013 5.81043 9.58544 5.3358 9.88763 5.0525Z")