extends _page-template

block vars
  - var title = "Home"

block content
  h1 Good morning!
  p
    | I’m Don Osborne, a highly experienced and award winning UX design leader with over 15 years of experience creating intuitive, user-centered designs that drive business success. I’ve managed designers from around the world and strive to bring out the best in my team members. If you think I would be a good fit for your project, get in touch. Thanks!