extends _page-template

block vars
  - var title = "Home"

block content
  .home-intro
    .home-intro__logo
    h1
      | Design by Don Osborne
    p
      | Portfolio returning soon
      br
      a(href="mailto:don@humanfriendlydesign.com") Email me