extends _page-template

block vars
  - var title = "Loading"

block content
  .loading
    .loading__inner
      .loading__logo
      h1
        | Human Friendly Design
      p
        | by Don Osborne
    
    h2.loading__message
      | Starting up...
    .loading__progress
      .loading__progress-fill