$font-family-default: 'Sofia Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-weight-default: $font-light;
$font-weight-heading: $font-bold;
$font-medium: 500;

// Light Theme
$color-page-bg: #F8F4EF;
$color-page-inner-bg: $white;
$color-text-primary: $black;
$color-text-secondary: $grey-7;
$color-link: $color-text-primary;
$color-border-light: $grey-7;
$color-border-dark: $black;
$color-surface-light: $grey-1;
$color-surface-dark: $grey-2;

// Dark Theme
$color-page-bg-theme-dark: #33374D;
$color-page-inner-bg-theme-dark: $grey-10;
$color-text-primary-theme-dark: $white;
$color-text-secondary-theme-dark: $grey-5;
$color-link-theme-dark: $white;
$color-border-light-theme-dark: $white;
$color-border-dark-theme-dark: $white;
$color-surface-light-theme-dark: $grey-8;
$color-surface-dark-theme-dark: $grey-7;

// Shadows Theme
$shadow-large: 5px 5px 0 rgba(0, 0, 0, 1);
$shadow-medium: 3px 3px 0 rgba(0, 0, 0, 1);
$shadow-small: 2px 2px 0 rgba(0, 0, 0, 1);
$shadow-large-theme-dark: 5px 5px 0 rgba(255, 255, 255, 1);
$shadow-medium-theme-dark: 3px 3px 0 rgba(255, 255, 255, 1);
$shadow-small-theme-dark: 2px 2px 0 rgba(255, 255, 255, 1);
