@mixin glass-box {
  @include border-radius(24px);
  border-top: 1px solid var(--color-trans-white-medium);
  background: linear-gradient(180deg, transparent 0%, var(--color-trans-white-light) 100%);
  box-shadow: $shadow-xl;
  transition: all $transition-xxlong;

  &:hover {
    background: linear-gradient(180deg, transparent 0%, var(--color-trans-white-medium) 100%);
    transform: scale(1.025);
  }
}