@mixin type-align-right { 
  text-align: right; 
}

@mixin type-align-left { 
  text-align: left; 
}

@mixin type-align-center { 
  text-align: center; 
}

@mixin head-2xl {
  font-family: $font-family-heading;
  font-size: $type-48;
  font-weight: $font-bold;
  text-transform: uppercase;
  line-height: 1;

  @include breakpoint($screen-large) {
    font-size: 5rem;
  }
}

@mixin head-xlarge {
  font-family: $font-family-heading;
  font-size: $type-48;
  font-weight: $font-bold;
  text-transform: uppercase;
  line-height: 1;

  @include breakpoint($screen-large) {
    font-size: $type-52;
  }
}

@mixin head-large {
  font-size: $type-24;
  font-weight: $font-bold;

  @include breakpoint($screen-large) {
    font-size: $type-30;
  }
}


@mixin head-med {
  font-size: $type-18;
  font-weight: $font-bold;

  @include breakpoint($screen-large) {
    font-size: $type-22;
  }
}

@mixin head-small {
  font-size: $type-16;
  font-weight: $font-bold;

  @include breakpoint($screen-large) {
    font-size: $type-18;
  }
}

@mixin head-xsmall {
  font-size: $type-14;
  font-weight: $font-medium;

  @include breakpoint($screen-large) {
    font-size: $type-16;
  }
}

@mixin head-xxsmall {
  font-size: $type-12;
  font-weight: $font-medium;

  @include breakpoint($screen-large) {
    font-size: $type-14;
  }
}

@mixin body-large {
  font-size: $type-16;

  @include breakpoint($screen-large) {
    font-size: $type-18;
  }
}

@mixin body-med {
  font-size: $type-14;

  @include breakpoint($screen-large) {
    font-size: $type-16;
  }
}

@mixin body-small {
  font-size: $type-13;

  @include breakpoint($screen-large) {
    font-size: $type-14;
  }
}

@mixin footnote {
  font-family: $font-family-monospace;
  font-size: $type-10;
  font-weight: $font-regular;

  @include breakpoint($screen-large) {
    font-size: $type-11;
  }
}