.about-hero__avatar {
  @include mar-bottom(6);
  @include border-radius(24px);
  width: 180px;
  height: 238px;
  transform: scale(1.05) rotate(-8deg);
  transform-origin: right;
  border-top: 1px solid var(--color-trans-white-medium);
  box-shadow: $shadow-xl;
}

.about-roles {
  @include grid;
  grid-gap: $spacer-2;
  grid-column-gap: $spacer-2;
  grid-template-columns: auto;

  @include breakpoint($screen-small) {
    grid-template-columns: auto auto auto;
  }
}

.about-role-item {
  @include flex;
  @include flex-horizontal;
  @include flex-cross-center;
  @include pad(2);
  @include glass-box;
}

.about-role-item__image {
  @include flex-fixed;
  @include mar-right(1.5);
  @include border-radius($br-4);
  @include square(56px);
  @include pad(1);
  @include border-radius($br-round);
  background-color: $white;
  transition: all $transition-xxlong;
  transform: scale(1.075);

  .about-role-item:hover & {
    transform: scale(1);
  }
}

.about-role-item__details {
  @include flex-fluid;
}

.about-role-item__heading {
  @include head-xxsmall;
  @include mar-bottom(0);
}

.about-role-item__industry {
  @include footnote;
  color: var(--color-text-secondary);
}

.about-role-item__role {
  @include footnote;
  color: var(--color-text-secondary);
}

.about-resume {
  @include flex;
}

.about-resume__link {
  @include flex;
  @include flex-cross-center;
  @include flex-fixed;
  @include glass-box($br-round);
  padding: $spacer-2 $spacer-4;
}

.about-resume__link-icon {
  @include mar-right(1);
  @include icon(24px);
  transform: scale(1.075);
  transition: all $transition-xxlong;
  
  .about-resume__link:hover & {
    transform: scale(1);
  }
}