.contact-wrapper {
  @include flex;
  @include flex-vertical;
  @include mar-top(4);
  gap: $spacer-2;

  @include breakpoint($screen-large) {
    @include flex-horizontal;
    @include flex-cross-center;
    @include mar-top(8);
    gap: $spacer-8;
  }
}

.contact-hero {
  @include flex-fluid;
  @include type-align-center;

  @include breakpoint($screen-large) {
    @include flex-equal;
    @include type-align-left;
  }
}

.contact-hero__heading {
  font-size: $type-30;

  @include breakpoint($screen-large) {
    font-size: $type-36;
  }
}

.contact-list {
  @include mar(0);
  @include pad(0);
  @include flex-fluid;
  @include glass-box;
  list-style: none;

  @include breakpoint($screen-large) {
    @include mar(0);
    @include flex-fixed(42%);
  }
}

.contact-list__item {
  text-decoration: none;
}

.contact-list__link {
  @include flex;
  @include flex-cross-center;
  padding: 20px $spacer-4;
  transition: all $transition-long;

  &:hover {
    background-color: var(--color-trans-white-light);
    transform: scale(1.025);
  } 
}

.contact-list__link-icon {
  @include mar-right(1);
  @include icon(24px);
  color: var(--color-icon-primary);
}

.contact-list__link-info {
  @include flex-grow;
}

.contact-list__link-heading {
  @include mar-bottom(0);
  font-size: $type-16;
  font-weight: $font-medium;
}

.contact-list__link-description {
  @include flex-grow;
  @include mar(0);
  @include footnote;
  color: var(--color-text-secondary);
}

.contact-list__link-arrow {
  @include icon(24px);
  color: var(--color-icon-secondary);
  transition: all $transition-xlong;

  .contact-list__link:hover & {
    color: var(--color-icon-primary);
    transform: translateX($spacer);
  }
}