.home-welcome-message-section {
  @include flex;
  @include flex-cross-center;
  flex-wrap: wrap;
  opacity: 1;
  transition: none;

  @include breakpoint($screen-medium) {
    min-height: 360px;
  }

  @include breakpoint($screen-large) {
    min-height: 480px;
  }
}

.home-subsection {
  @include mar-top(11);

  @include breakpoint($screen-medium) {
    @include mar-top(15);
  }

  &:first-of-type {
    @include mar-top(0);

    @include breakpoint($screen-medium) {
      @include mar-top(0);
    }
  }
}

.home-welcome-message {
  text-align: center;
  z-index: $z-plus-one;

  @include breakpoint($screen-medium) {
    width: 60%;
    text-align: left;
  }
}

.home-heading {
  @include head-2xl;
}

.home-heading-emoji {
  @include relative;
  transform-origin: bottom;

  @include breakpoint($screen-medium) {
    @include absolute;
    @include mar-left(2);
  }

  .home-welcome-message-section:hover & {
    animation-name: wave;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
}

.home-subheading {
  @include breakpoint($screen-medium) {
    width: 90%;
  }
}

.spline-desktop-static {
  @include center;
  max-width: 480px;

  @include breakpoint($screen-medium) {
    @include hidden;
  }
}

.spline-desktop-embed {
  @include hidden;
  @include center;
  width: 560px;
  height: 360px;
  transition: all $transition-xlong;
  transform: scale(0.75);

  @include breakpoint($screen-medium) {
    @include absolute;
    @include block;
    top: 0;
    right: -32px;
    margin: 0;
    opacity: 0;
  }

  &--on {
    opacity: 1;
    transform: scale(1);
  }

  @include breakpoint($screen-large) {
    top: 60px;
    right: -48px;
  }
}

.home-intro-stats {
  @include grid;
  grid-template-columns: auto;
  grid-gap: $spacer-2;
  grid-column-gap: $spacer-2;
  grid-template-columns: auto auto;

  @include breakpoint($screen-medium) {
    grid-template-columns: auto auto auto auto;
  }
}

.home-intro-stats__unit {
  @include flex;
  @include flex-vertical;
  @include pad(2);
  @include glass-box;
}

.home-intro-stats__unit-icon {
  @include icon(48px);
  @include mar-bottom(1);
}

.home-intro-stats__unit-heading {
  @include head-small;
  @include mar-bottom(0.5);
}

.home-intro-stats__unit-desc {
  @include body-small;
}

.home-intro-bio {
  @include flex;
  @include flex-vertical;
  @include mar-top(5);
  gap: $spacer-5;

  @include breakpoint($screen-medium) {
    @include flex-horizontal;
  }
}

.home-intro-bio__photo-wrapper {
  @include center;
  @include flex-fixed;
  @include border-radius(24px);
  width: 180px;
  height: 238px;
  transform: scale(1.05) rotate(-8deg);
  transform-origin: right;
  border-top: 1px solid var(--color-trans-white-medium);
  box-shadow: $shadow-xl;
  transition: all $transition-xxlong;

  .home-intro-bio:hover & {
    transform: scale(1.0) rotate(-5deg);
  }

  @include breakpoint($screen-medium) {
    @include mar(0);
  }
}

.home-intro-bio__photo {
  width: 180px;
  height: 238px;
  transform: scale(1.1);
  transition: all $transition-xxlong;

  .home-intro-bio:hover & {
    transform: scale(1.025);
  }
}