@font-face {
	font-family: 'QuicksandBook';
	src: url('/_library/fonts/Quicksand_Book.eot');
	src: local('Quicksand'), local('QuicksandBook-Regular'), url('/_library/fonts/Quicksand_Book.woff') format('woff'), url('/_library/fonts/Quicksand_Book.ttf') format('truetype'), url('/_library/fonts/Quicksand_Book.svg#QuicksandBook-Regular') format('svg');
}

@font-face {
	font-family: 'QuicksandBold';
	src: url('/_library/fonts/Quicksand_Bold.eot');
	src: local('Quicksand'), local('QuicksandBold-Regular'), url('/_library/fonts/Quicksand_Bold.woff') format('woff'), url('/_library/fonts/Quicksand_Bold.ttf') format('truetype'), url('/_library/fonts/Quicksand_Bold.svg#QuicksandBold-Regular') format('svg');
}

