extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "AEM Template Library"

block content
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX
    span.tmpl-project__tag-item.work-tag__item Design System
    span.tmpl-project__tag-item.work-tag__item Marketing

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/AEM_Templates_XLarge.png, /img/Thumbnails/AEM_Templates_XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/AEM_Templates_Large.png, /img/Thumbnails/AEM_Templates_Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/AEM_Templates_Medium.png, /img/Thumbnails/AEM_Templates_Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/AEM_Templates_Small.png, /img/Thumbnails/AEM_Templates_Small@2x.png 2x")
      img(src="/img/Thumbnails/AEM_Templates_Large.png" alt="AEM Template Screens")

  .tmpl-page-subsection
    h2 Challenge
    p
      | Designing, building and maintaining the range of marketing websites that Green Dot owns has always been a challenge. The previous solutions involved either design and engineering launching and maintaining these sites, or an outside service translating designs into a CMS as needed. Neither option was very efficient however, being too time consuming, inflexible, slow to market or all of the above.
  
  .tmpl-page-subsection
    h2 Process
    p
      | We identified that a hybrid approach to building these websites was a way to be more agile. We would create design templates that could be translated into Adobe Experience Manager (AEM) by our contracted partner, allowing us to componetize blocks of web pages for re-use across many websites.

    .work-samples
      a.work-sample-link(href="/img/Work/AEM-Templates-Docs.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-Docs.png")
      a.work-sample-link(href="/img/Work/AEM-Templates-2-Col-Image-Left-and-Right.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-2-Col-Image-Left-and-Right.png")
      a.work-sample-link(href="/img/Work/AEM-Templates-Hero.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-Hero.png")
      a.work-sample-link(href="/img/Work/AEM-Templates-Header.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-Header.png")
      a.work-sample-link(href="/img/Work/AEM-Templates-Navigation.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-Navigation.png")
      a.work-sample-link(href="/img/Work/AEM-Templates-Example-Pages.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-Example-Pages.png")
    
  .tmpl-page-subsection
    h2 Solution
    p
      | The result was a design system consisting of typography, colors, components and most importantly, micro templates in the form of "blocks", that marketing designers would use to design the websites, while our partner would templatize them in AEM. Customizations were defined in the design system and duplicated in AEM as well. Images, text, colors, spacing, and more could be configured in Figma, and the same done in AEM, resulting in a build once, configure in many different ways workflow. This allowed us to launch new versions go2bank.com, greendot.com, moneypak.com and greendotnetwork.com, all within 8 months.

    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/AEM-Templates-GO2bank.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-GO2bank.png")
      a.work-sample-link(href="/img/Work/AEM-Templates-Greendot.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-Greendot.png")
      a.work-sample-link(href="/img/Work/AEM-Templates-Moneypak.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-Moneypak.png")
      a.work-sample-link(href="/img/Work/AEM-Templates-GDN.png")
        img(loading="lazy" src="/img/Work/AEM-Templates-GDN.png")
  