extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "GO2bank Card Activation"

block content
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX
    span.tmpl-project__tag-item.work-tag__item Experience Flow

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/Card_Activation_XLarge.png, /img/Thumbnails/Card_Activation_XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/Card_Activation_Large.png, /img/Thumbnails/Card_Activation_Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/Card_Activation_Medium.png, /img/Thumbnails/Card_Activation_Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/Card_Activation_Small.png, /img/Thumbnails/Card_Activation_Small@2x.png 2x")
      img(loading="lazy" src="/img/Thumbnails/Card_Activation_Large.png" alt="Activate your card button over illustration")

  .tmpl-page-subsection
    h2 Challenge
    p
      | Card activation is a vitally important function of any bank account. This very actively used flow was built in parallel with the GO2bank branding and design system work, but never kept in sync with the evolving design work and engineering platform upgrades. Design, Product and Engineering identified that it needed an overhaul to make it more modern, flexible and themable for white label brands.

  .tmpl-page-subsection
    h2 Process
    p
      | Design and Engineering determined that a page layout similar to one in use on another in flight partner project could serve as the basis for an updated card activation flow. Extensive work had already been done to understand, document and build a "split screen" layout that provided ample marketing space paired with a limited width area ideal for line length and form inputs, optimized for readbility.

    .work-samples
      a.work-sample-link(href="/img/Work/Card-Activation-Flow.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Flow.png")

  .tmpl-page-subsection
    h2 Solution
    p
      | Designed to handle the main use case of online card activation, the page also had to serve as a tributary page to other activation flows, where online accounts had not been created yet or a card may have been purchased in a store. 

    .work-samples.work-samples--2M-3D
      a.work-sample-link(href="/img/Work/Card-Activation-Mobile-Activation-Filled.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Mobile-Activation-Filled.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Mobile-Activation-CVV.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Mobile-Activation-CVV.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Mobile-Verify-Identity-with-SSN-Filled.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Mobile-Verify-Identity-with-SSN-Filled.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Mobile-Set-PIN-Filled.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Mobile-Set-PIN-Filled.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Mobile-Card-Activation-Success.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Mobile-Card-Activation-Success.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Mobile-QR-Code-Landing.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Mobile-QR-Code-Landing.png")

    .work-samples
      a.work-sample-link(href="/img/Work/Card-Activation-Desktop-Activation-Filled.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Desktop-Activation-Filled.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Desktop-Verify-Identity-with-SSN-Filled.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Desktop-Verify-Identity-with-SSN-Filled.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Desktop-Set-PIN-Filled.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Desktop-Set-PIN-Filled.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Desktop-Card-Activation-Success.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Desktop-Card-Activation-Success.png")
      a.work-sample-link(href="/img/Work/Card-Activation-Desktop-QR-Code-Landing.png")
        img(loading="lazy" src="/img/Work/Card-Activation-Desktop-QR-Code-Landing.png")
  

  
    
    