extends ../_tmpl

block vars
  - var title = "Work"
  - var work_title = "Eureka Design System"

block content
  .tmpl-page-heading-wrapper
    h1.tmpl-page-heading #{work_title}
    a(href="/work/").tmpl-link-arrow.tmpl-link-arrow--large.tmpl-link-arrow--back
      svg.tmpl-link-arrow__icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M10.9303 5.06977C11.2232 5.36266 11.2232 5.83753 10.9303 6.13043L5.81066 11.2501H20C20.4142 11.2501 20.75 11.5859 20.75 12.0001C20.75 12.4143 20.4142 12.7501 20 12.7501H5.81066L10.9303 17.8698C11.2232 18.1627 11.2232 18.6375 10.9303 18.9304C10.6374 19.2233 10.1626 19.2233 9.86967 18.9304L3.46967 12.5304C3.17678 12.2375 3.17678 11.7627 3.46967 11.4698L9.86967 5.06977C10.1626 4.77687 10.6374 4.77687 10.9303 5.06977Z")

  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX
    span.tmpl-project__tag-item.work-tag__item Design System  
    span.tmpl-project__tag-item.work-tag__item Accessibility

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/EDS_XLarge.png, /img/Thumbnails/EDS_XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/EDS_Large.png, /img/Thumbnails/EDS_Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/EDS_Medium.png, /img/Thumbnails/EDS_Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/EDS_Small.png, /img/Thumbnails/EDS_Small@2x.png 2x")
      img(src="/img/Thumbnails/EDS_Large.png" alt="Eureka Design System Screens")

  .tmpl-page-subsection
    h2 Challenge
    p
      | At Green Dot, we had several incomplete design systems started for different projects. When the GO2bank project was started, it was clear that a new design system was needed to serve as the basis for this project across iOS, Android and the web. It was an oportunity to create a best in class design system using the latest, tools, techniques and accessibilty. This design system would be the basis for all UX design moving forward, enabling us to quickly and efficiently create the thousands of screens nessesary to launch and maintain GO2bank and many other brand apps.

  .tmpl-page-subsection
    h2 Process
    p
      | Using our initial concept designs as a jumping off point, we quickly got the design system up and running, documenting headers, footers, colors, typography, buttons, and inputs so that we could get GO2bank screens designed for launch. Once our initial pass of design system work was complete, we continually expanded the design system to encompass additional components like date pickers, banners, transactions, tabs, tooltips, success/error messages and full page templates. An accesibility audit was conducted internally and externally to identify issues and fix them in the design system before they were fixed in the final products.

    .work-samples
      a.work-sample-link(href="/img/Work/EDS-Welcome.png")
        img(src="/img/Work/EDS-Welcome.png")
      a.work-sample-link(href="/img/Work/EDS-Typography.png")
        img(src="/img/Work/EDS-Typography.png")
      a.work-sample-link(href="/img/Work/EDS-Icons.png")
        img(src="/img/Work/EDS-Icons.png")
      a.work-sample-link(href="/img/Work/EDS-Headers.png")
        img(src="/img/Work/EDS-Headers.png")
      a.work-sample-link(href="/img/Work/EDS-Radios-and-Checkboxes.png")
        img(src="/img/Work/EDS-Radios-and-Checkboxes.png")
  
  .tmpl-page-subsection
    h2 Solution
    p
      | Through constant iteration and feedback from designers and engineering, the design system evolved to effortlessly support many different use cases, platforms and brands, setting Green Dot up for the future of B2C and B2B business success.

    .work-samples
      a.work-sample-link(href="/img/Work/EDS-Components-Label.png")
        img(src="/img/Work/EDS-Components-Label.png")
      a.work-sample-link(href="/img/Work/EDS-Documentation-Label.png")
        img(src="/img/Work/EDS-Documentation-Label.png")
      a.work-sample-link(href="/img/Work/EDS-GO2bank-Tokens.png")
        img(src="/img/Work/EDS-GO2bank-Tokens.png")
      a.work-sample-link(href="/img/Work/EDS-GO2bank-UI-Examples.png")
        img(src="/img/Work/EDS-GO2bank-UI-Examples.png")
    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/EDS-Green-Dot-UI-Examples.png")
        img(src="/img/Work/EDS-Green-Dot-UI-Examples.png")
      a.work-sample-link(href="/img/Work/EDS-Walmart-UI-Examples.png")
        img(src="/img/Work/EDS-Walmart-UI-Examples.png")
      a.work-sample-link(href="/img/Work/EDS-Rush-UI-Examples.png")
        img(src="/img/Work/EDS-Rush-UI-Examples.png")
      a.work-sample-link(href="/img/Work/EDS-Amazon-Flex-UI-Examples.png")
        img(src="/img/Work/EDS-Amazon-Flex-UI-Examples.png")
    
    
    