extends ../_page-template

block vars
  - var title = "Work"
  - var work_title = "Eureka Design System"

block content
  .tmpl-page-heading-wrapper
    h1.tmpl-page-heading #{work_title}
    a(href="/work/").tmpl-link-arrow.tmpl-link-arrow--large.tmpl-link-arrow--back
      svg.tmpl-link-arrow__icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M10.9303 5.06977C11.2232 5.36266 11.2232 5.83753 10.9303 6.13043L5.81066 11.2501H20C20.4142 11.2501 20.75 11.5859 20.75 12.0001C20.75 12.4143 20.4142 12.7501 20 12.7501H5.81066L10.9303 17.8698C11.2232 18.1627 11.2232 18.6375 10.9303 18.9304C10.6374 19.2233 10.1626 19.2233 9.86967 18.9304L3.46967 12.5304C3.17678 12.2375 3.17678 11.7627 3.46967 11.4698L9.86967 5.06977C10.1626 4.77687 10.6374 4.77687 10.9303 5.06977Z")
  p
    | Lorem ipsum dolor sit amet consectetur. Tortor sit gravida ornare at. In ornare nunc ultricies non pellentesque. Mauris habitant vestibulum nisl sed in fermentum. Id nisl tincidunt integer id sagittis ultrices metus. Sit enim eu nunc in cras fermentum venenatis. Sed aliquet est amet mattis in enim quisque mi et. Sit egestas lacus enim id. Dictum in vitae semper faucibus. Proin nulla commodo vitae dolor eu pharetra tortor sem nibh. Interdum amet ultricies odio nunc sed hendrerit donec sed a.
  .work-tags
    span.tmpl-project__tag-item-item #UX
    span.tmpl-project__tag-item #Design System  
    span.tmpl-project__tag-item #Research

  .work-samples
    img(src="/img/Work/EDS-Welcome.png")
    img(src="/img/Work/EDS-GO2bank-Tokens.png")
    img(src="/img/Work/EDS-GO2bank-UI-Examples.png")
  .work-samples.work-samples--1M-2D
    img(src="/img/Work/EDS-Amazon-Flex-UI-Examples.png")
    img(src="/img/Work/EDS-Green-Dot-UI-Examples.png")
    img(src="/img/Work/EDS-Walmart-UI-Examples.png")
    img(src="/img/Work/EDS-Rush-UI-Examples.png")
  .work-samples
    img(src="/img/Work/EDS-Typography.png")
    img(src="/img/Work/EDS-Icons.png")
    img(src="/img/Work/EDS-Imagery-&-Illustration-Guidelines.png")
    img(src="/img/Work/EDS-Headers.png")
    img(src="/img/Work/EDS-Radios-and-Checkboxes.png")
    
    