extends ../_tmpl

block vars
  - var title = "Work"
  - var work_title = "Flex Web Design System"

block content
  .tmpl-page-heading-wrapper
    h1.tmpl-page-heading #{work_title}
    a(href="/work/").tmpl-link-arrow.tmpl-link-arrow--large.tmpl-link-arrow--back
      svg.tmpl-link-arrow__icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M10.9303 5.06977C11.2232 5.36266 11.2232 5.83753 10.9303 6.13043L5.81066 11.2501H20C20.4142 11.2501 20.75 11.5859 20.75 12.0001C20.75 12.4143 20.4142 12.7501 20 12.7501H5.81066L10.9303 17.8698C11.2232 18.1627 11.2232 18.6375 10.9303 18.9304C10.6374 19.2233 10.1626 19.2233 9.86967 18.9304L3.46967 12.5304C3.17678 12.2375 3.17678 11.7627 3.46967 11.4698L9.86967 5.06977C10.1626 4.77687 10.6374 4.77687 10.9303 5.06977Z")
  
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX
    span.tmpl-project__tag-item.work-tag__item Front End Development
    span.tmpl-project__tag-item.work-tag__item Design System

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/Flex-Web-XLarge.png, /img/Thumbnails/Flex-Web-XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/Flex-Web-Large.png, /img/Thumbnails/Flex-Web-Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/Flex-Web-Medium.png, /img/Thumbnails/Flex-Web-Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/Flex-Web-Small.png, /img/Thumbnails/Flex-Web-Small@2x.png 2x")
      img(src="/img/Thumbnails/Flex-Web-Large.png" alt="Flex Web Design System Website")

  .tmpl-page-subsection
    h2 Challenge
    p
      | In 2015 Green dot designers were distributed amongst several marketing and product teams, leading to much inconsistency in style and behavior of the company's apps and websites. We brought together the disparate designers into a single team and similarly identified an opportunity to unify our designs with a new design system. This design system would have to support our web apps, marketing sites and eventually native mobile apps. The system would have to also support multiple brand themes from day one, to support Green Dot's many in house and partner brands. We called this new design system Flex Web.
  
  .tmpl-page-subsection
    h2 Process
    p
      | The team identified the common elements needed across the many Green Dot sites and brands - buttons, inputs, radios, checkboxes, color palettes etc., that would be part of the basic UI kit. We also identified the need for partial page templates that could be re-used for marketing purposes on single pages or entire sites. Things like headers, footers, heroes, and text/image combinations that could be mixed and remixed together to enable quick production of pages and sites. We dubbed these "blocks".

    .work-samples
      a.work-sample-link(href="/img/Work/Flex-Web-001.png")
        img(src="/img/Work/Flex-Web-001.png")
      a.work-sample-link(href="/img/Work/Flex-Web-018.png")
        img(src="/img/Work/Flex-Web-018.png")
      a.work-sample-link(href="/img/Work/Flex-Web-014.png")
        img(src="/img/Work/Flex-Web-014.png")
      a.work-sample-link(href="/img/Work/Flex-Web-015.png")
        img(src="/img/Work/Flex-Web-015.png")
      
  .tmpl-page-subsection
    h2 Solution
    p
      | We created a collection of block designs that would serve the basis for many site redesigns and all web design moving forward. Single elements that would now commonly be referred to as components were called "modules". Pages would contain blocks, blocks could contain modules and modules were our smallest standalone element. This roughly followed the Atomic design pattern. All blocks and modules were coded in static HTML ready to be copy and pasted into a page, or integrated in to a SPA capable framework like Angular or .NET. Everything was styled via a single CSS file for each brand. These styles packaged up the colors, fonts, text styles, borders, spacing etc. for each brand. A site could be changed from Green Dot branded, to Gobank with the switch of a single file. Additionally, blocks and modules were given CSS modifier classes that could change certain styles automatically and they were enhanced with their own javascript to create custom behaviors and animations. The Flex Web documentation site was built to get designers, product managers, engineers and marketing up to speed quickly on the framework's capabilities. For designers or engineers building pages, a simple NPM install and duplicating the page-template.html was all you needed to get started.

    .work-samples
      a.work-sample-link(href="/img/Work/Flex-Web-016.png")
        img(src="/img/Work/Flex-Web-016.png")
      a.work-sample-link(href="/img/Work/Flex-Web-017.png")
        img(src="/img/Work/Flex-Web-017.png")
      a.work-sample-link(href="/img/Work/Flex-Web-007.png")
        img(src="/img/Work/Flex-Web-007.png")
      a.work-sample-link(href="/img/Work/Flex-Web-008.png")
        img(src="/img/Work/Flex-Web-008.png")
      a.work-sample-link(href="/img/Work/Flex-Web-009.png")
        img(src="/img/Work/Flex-Web-009.png")
      a.work-sample-link(href="/img/Work/Flex-Web-010.png")
        img(src="/img/Work/Flex-Web-010.png")
      a.work-sample-link(href="/img/Work/Flex-Web-011.png")
        img(src="/img/Work/Flex-Web-011.png")
      a.work-sample-link(href="/img/Work/Flex-Web-010.png")
        img(src="/img/Work/Flex-Web-010.png")
  
  .tmpl-page-subsection
    h2 Final Sites

    .work-samples
      a.work-sample-link(href="/img/Work/Flex-Web-022.png")
        img(src="/img/Work/Flex-Web-022.png")
      a.work-sample-link(href="/img/Work/Flex-Web-021.png")
        img(src="/img/Work/Flex-Web-021.png")
      a.work-sample-link(href="/img/Work/Flex-Web-019.png")
        img(src="/img/Work/Flex-Web-019.png")
      a.work-sample-link(href="/img/Work/Flex-Web-020.png")
        img(src="/img/Work/Flex-Web-020.png")