extends ../_page-template

block vars
  - var title = "Work"
  - var subpage_title = "GO2bank Mobile App"

block content
  h1.tmpl-page-heading #{subpage_title}
  p
    | Lorem ipsum dolor sit amet consectetur. Tortor sit gravida ornare at. In ornare nunc ultricies non pellentesque. Mauris habitant vestibulum nisl sed in fermentum. Id nisl tincidunt integer id sagittis ultrices metus. Sit enim eu nunc in cras fermentum venenatis. Sed aliquet est amet mattis in enim quisque mi et. Sit egestas lacus enim id. Dictum in vitae semper faucibus. Proin nulla commodo vitae dolor eu pharetra tortor sem nibh. Interdum amet ultricies odio nunc sed hendrerit donec sed a.
  .work-tags
    span.tmpl-project__tag-item-item #UX
    span.tmpl-project__tag-item #Design System  
    span.tmpl-project__tag-item #IA
  .work-links
    | URL: 
    a(href="http://www.go2bank.com" target="_blank") www.go2bank.com

  .work-samples
    img(src="/img/Work/Eureka-IA.png")
  .work-samples.work-samples--mobile
    img(src="/img/Work/GO2bank-App-Pre-Log-in.png")
    img(src="/img/Work/GO2bank-App-Log-in.png")
    img(src="/img/Work/GO2bank-App-Home.png")
    img(src="/img/Work/GO2bank-App-Move-Money.png")
    img(src="/img/Work/GO2bank-App-Help-Center.png")
    img(src="/img/Work/GO2bank-App-Menu.png")
    img(src="/img/Work/GO2bank-App-Bank-Account.png")
    img(src="/img/Work/GO2bank-App-Direct-Deposit.png")
    img(src="/img/Work/GO2bank-App-Savings-Account.png")