extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "GO2bank Mobile App"

block content
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX
    span.tmpl-project__tag-item.work-tag__item Design System  
    span.tmpl-project__tag-item.work-tag__item IA
    span.tmpl-project__tag-item.work-tag__item Research 

  p.work-links
    | URL: 
    a(href="http://www.go2bank.com" target="_blank") www.go2bank.com

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/GO2bank_App_XLarge.png, /img/Thumbnails/GO2bank_App_XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/GO2bank_App_Large.png, /img/Thumbnails/GO2bank_App_Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/GO2bank_App_Medium.png, /img/Thumbnails/GO2bank_App_Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/GO2bank_App_Small.png, /img/Thumbnails/GO2bank_App_Small@2x.png 2x")
      img(src="/img/Thumbnails/GO2bank_App_Large.png" alt="GO2bank Small App Screens")
    
  .tmpl-page-subsection
    h2 Challenge
    p
      | In the spring of 2020 the Eureka project was started, an effort to turn the page on Green Dot's legacy brands and build a B2C banking app for the future. After much brand and market research, that project became GO2bank and the goal was to launch it in early 2021. While some work done on individual money movement flows were re-used, large parts of the app and all of the website had to be designed from scratch in a span of about 5 months. In addition to this, the goal was for this app to be a white label solution, capable of being re-skined under a diferent partner brand.
  .tmpl-page-subsection
    h2 Process
    p
      | The design team set out to come up with various concepts, get feedback internally and then user test them for qualitative and quantitative results. At the same time I was planning and testing the information architecture. Below is a one of my concepts that merged with another, that ended up becoming the final GO2bank look.
    .work-samples.work-samples--2M-3D
      a.work-sample-link(href="/img/Work/GO2bank-App-Level-Concept-Transactions.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Level-Concept-Transactions.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Level-Concept-Move Money.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Level-Concept-Move Money.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Level-Concept-Manage.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Level-Concept-Manage.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Level-Concept-Settings.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Level-Concept-Settings.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Level-Concept-Checking.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Level-Concept-Checking.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Level-Concept-Secure Card.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Level-Concept-Secure Card.png")
    
    .work-samples
      a.work-sample-link(href="/img/Work/Eureka-IA.png")
        img(loading="lazy" src="/img/Work/Eureka-IA.png")
  
  .tmpl-page-subsection
    h2 Process Continued
    p
      | Once a design had tested well and been approved, I set out to build the 
      a(href="/work/eureka-design-system.html") Eureka Design System
      | , an Atomic styled design system that would allow us to scale our designs quickly across the thousands of screens needed to implement the GO2bank app.
    .work-samples
      a.work-sample-link(href="/img/Work/EDS-GO2bank-UI-Examples.png")
        img(loading="lazy" src="/img/Work/EDS-GO2bank-UI-Examples.png")
      a.work-sample-link(href="/img/Work/EDS-Typography.png")
        img(loading="lazy" src="/img/Work/EDS-Typography.png")
      a.work-sample-link(href="/img/Work/EDS-Headers.png")
        img(loading="lazy" src="/img/Work/EDS-Headers.png")

  .tmpl-page-subsection
    h2 Solution
    p 
      | Several new features were scheduled to be included in the new product as well, such as the GO2bank Secured Credit Card, Savings account and overdraft protection. We made our deadlines, but many things were left on the cutting room floor, waiting to be prioritized by leadership. The resulting iOS and Android apps have app store ratings of 4.7 and 4.5 stars respectively and serve as the basis for all white label apps provided to partners.
    .work-samples.work-samples--2M-3D
      a.work-sample-link(href="/img/Work/GO2bank-App-Pre-Log-in.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Pre-Log-in.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Log-in.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Log-in.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Home.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Home.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Move-Money.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Move-Money.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Help-Center.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Help-Center.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Menu.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Menu.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Bank-Account.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Bank-Account.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Direct-Deposit.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Direct-Deposit.png")
      a.work-sample-link(href="/img/Work/GO2bank-App-Savings-Account.png")
        img(loading="lazy" src="/img/Work/GO2bank-App-Savings-Account.png")