extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "Work"

block content
  .tmpl-page-subsection.tmpl-page-subsection--first
    .tmpl-project-row.tmpl-project-row--first
      a.tmpl-project.tmpl-project--small(href="/work/go2bank-mobile-app/")
          picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
            source(srcset="/img/Thumbnails/Featured-GO2bank_App_Large.png, /img/Thumbnails/Featured-GO2bank_App_Large@2x.png 2x")
            img(src="/img/Thumbnails/Featured-GO2bank_App_Large.png" alt="GO2bank Small App Screens")
          .tmpl-project__details
            .tmpl-project__title GO2bank Mobile App
            .tmpl-project__desc 4.8 stars on the iOS App Store

      a.tmpl-project.tmpl-project--small(href="/work/eureka-design-system/")
        picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
          source(srcset="/img/Thumbnails/Featured-EDS_Large.png, /img/Thumbnails/Featured-EDS_Large@2x.png 2x")
          img(src="/img/Thumbnails/Featured-EDS_Large.png" alt="Eureka Design System Screens")
        .tmpl-project__details
          .tmpl-project__title Eureka Design System
          .tmpl-project__desc Powering 10+ Green Dot brands

      a.tmpl-project.tmpl-project--small(href="/work/flex-web/")
        picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
          source(srcset="/img/Thumbnails/Featured-Flex-Web-Large.png, /img/Thumbnails/Featured-Flex-Web-Large@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Flex-Web-Large.png" alt="Flex Web Design System Screens")
        .tmpl-project__details
          .tmpl-project__title Flex Web Design System
          .tmpl-project__desc Front end Web Framework

      a.tmpl-project.tmpl-project--small(href="/work/aem-templates/")
          picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
            source(srcset="/img/Thumbnails/Featured-AEM-Templates-Large.png, /img/Thumbnails/Featured-AEM-Templates-Large@2x.png 2x")
            img(src="/img/Thumbnails/Featured-AEM-Templates-Large.png" alt="AEM Template Screens")
          .tmpl-project__details
            .tmpl-project__title AEM Template Design System
            .tmpl-project__desc Scaling Green Dot Marketing Websites

      a.tmpl-project.tmpl-project--small(href="/work/twilio-chat-widget/")
        picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
          source(srcset="/img/Thumbnails/Featured-Twilio-Large.png, /img/Thumbnails/Featured-Twilio-Large@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Twilio-Large.png" alt="Twilio Chat Widget UI")
        .tmpl-project__details
          .tmpl-project__title Twilio Chat Widget
          .tmpl-project__desc A multibrand chat experience

      a.tmpl-project.tmpl-project--small(href="/work/card-activation/")
        picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
          source(srcset="/img/Thumbnails/Featured-Card-Activation-Large.png, /img/Thumbnails/Featured-Card-Activation-Large@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Card-Activation-Large.png" alt="Activate your card button under illustration of GO2bank debit card and mobile app")
        .tmpl-project__details
          .tmpl-project__title GO2bank Card Activation
          .tmpl-project__desc A new standard for activation

      a.tmpl-project.tmpl-project--small(href="/work/lumin/")
          picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
            source(srcset="/img/Thumbnails/Featured-Lumin-Large.png, /img/Thumbnails/Featured-Lumin-Large@2x.png 2x")
            img(src="/img/Thumbnails/Featured-Lumin-Large.png" alt="Lumin Cyber Exposure Dashboard")
          .tmpl-project__details
            .tmpl-project__title Lumin Cyber Exposure
            .tmpl-project__desc Visualizing exposure on a worldwide scale

      a.tmpl-project.tmpl-project--small(href="/work/tag-management/")
        picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
          source(srcset="/img/Thumbnails/Featured-Tagging-Large.png, /img/Thumbnails/Featured-Tagging-Large@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Tagging-Large.png" alt="Tag Management Screen")
        .tmpl-project__details
          .tmpl-project__title Cyber Asset Tag Management
          .tmpl-project__desc Organizing millions of devices

      a.tmpl-project.tmpl-project--small(href="/work/rovi-guide/")
        picture.tmpl-project__thumbnail.tmpl-project__thumbnail--small
          source(srcset="/img/Thumbnails/Featured-Rovi-Guide-Large.png, /img/Thumbnails/Featured-Rovi-Guide-Large@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Rovi-Guide-Large.png" alt="Rovi Guide TV Interface")
        .tmpl-project__details
          .tmpl-project__title Rovi Guide
          .tmpl-project__desc Next generation web based TV
