extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "Work"

block content
  .tmpl-page-subsection.tmpl-page-subsection--first
    .tmpl-project-row.tmpl-project-row--first
      a.tmpl-project(href="/work/go2bank-mobile-app/")
        picture.tmpl-project__thumbnail
          source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-GO2bank_App_Large.png, /img/Thumbnails/Featured-GO2bank_App_Large@2x.png 2x")
          source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-GO2bank_App_Medium.png, /img/Thumbnails/Featured-GO2bank_App_Medium@2x.png 2x")
          source(srcset="/img/Thumbnails/Featured-GO2bank_App_Small.png, /img/Thumbnails/Featured-GO2bank_App_Small@2x.png 2x")
          img(src="/img/Thumbnails/Featured-GO2bank_App_Small.png" alt="GO2bank App Screens")
        .tmpl-project__details
          .tmpl-project__title GO2bank Mobile App
          .tmpl-project__desc 4.8 stars on the iOS App Store

      a.tmpl-project(href="/work/eureka-design-system/")
        picture.tmpl-project__thumbnail
          source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-EDS_Large.png, /img/Thumbnails/Featured-EDS_Large@2x.png 2x")
          source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-EDS_Medium.png, /img/Thumbnails/Featured-EDS_Medium@2x.png 2x")
          source(srcset="/img/Thumbnails/Featured-EDS_Small.png, /img/Thumbnails/Featured-EDS_Small@2x.png 2x")
          img(src="/img/Thumbnails/Featured-EDS_Small.png" alt="Eureka Design System Screens")
        .tmpl-project__details
          .tmpl-project__title Eureka Design System
          .tmpl-project__desc Powering 10+ Green Dot brands

      a.tmpl-project(href="/work/flex-web/")
        picture.tmpl-project__thumbnail
          source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-Flex-Web-Large.png, /img/Thumbnails/Featured-Flex-Web-Large@2x.png 2x")
          source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-Flex-Web-Medium.png, /img/Thumbnails/Featured-Flex-Web-Medium@2x.png 2x")
          source(srcset="/img/Thumbnails/Featured-Flex-Web-Small.png, /img/Thumbnails/Featured-Flex-Web-Small@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Flex-Web-Small.png" alt="Flex Web Design System Screens")
        .tmpl-project__details
          .tmpl-project__title Flex Web Design System
          .tmpl-project__desc Front end Web Framework

      a.tmpl-project(href="/work/aem-templates/")
          picture.tmpl-project__thumbnail
            source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-AEM-Templates-Large.png, /img/Thumbnails/Featured-AEM-Templates-Large@2x.png 2x")
            source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-AEM-Templates-Medium.png, /img/Thumbnails/Featured-AEM-Templates-Medium@2x.png 2x")
            source(srcset="/img/Thumbnails/Featured-AEM-Templates-Small.png, /img/Thumbnails/Featured-AEM-Templates-Small@2x.png 2x")
            img(src="/img/Thumbnails/Featured-AEM-Templates-Small.png" alt="AEM Template Screens")
          .tmpl-project__details
            .tmpl-project__title AEM Template Design System
            .tmpl-project__desc Scaling Green Dot Marketing Websites

      a.tmpl-project(href="/work/twilio-chat-widget/")
        picture.tmpl-project__thumbnail
          source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-Twilio-Large.png, /img/Thumbnails/Featured-Twilio-Large@2x.png 2x")
          source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-Twilio-Medium.png, /img/Thumbnails/Featured-Twilio-Medium@2x.png 2x")
          source(srcset="/img/Thumbnails/Featured-Twilio-Small.png, /img/Thumbnails/Featured-Twilio-Small@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Twilio-Small.png" alt="Twilio Chat Widget UI")
        .tmpl-project__details
          .tmpl-project__title Twilio Chat Widget
          .tmpl-project__desc A multibrand chat experience

      a.tmpl-project(href="/work/card-activation/")
        picture.tmpl-project__thumbnail
          source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-Card-Activation-Large.png, /img/Thumbnails/Featured-Card-Activation-Large@2x.png 2x")
          source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-Card-Activation-Medium.png, /img/Thumbnails/Featured-Card-Activation-Medium@2x.png 2x")
          source(srcset="/img/Thumbnails/Featured-Card-Activation-Small.png, /img/Thumbnails/Featured-Card-Activation-Small@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Card-Activation-Small.png" alt="Activate your card button under illustration of GO2bank debit card and mobile app")
        .tmpl-project__details
          .tmpl-project__title GO2bank Card Activation
          .tmpl-project__desc A new standard for activation

      a.tmpl-project(href="/work/lumin/")
          picture.tmpl-project__thumbnail
            source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-Lumin-Large.png, /img/Thumbnails/Featured-Lumin-Large@2x.png 2x")
            source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-Lumin-Medium.png, /img/Thumbnails/Featured-Lumin-Medium@2x.png 2x")
            source(srcset="/img/Thumbnails/Featured-Lumin-Small.png, /img/Thumbnails/Featured-Lumin-Small@2x.png 2x")
            img(src="/img/Thumbnails/Featured-Lumin-Small.png" alt="Lumin Cyber Exposure Dashboard")
          .tmpl-project__details
            .tmpl-project__title Lumin Cyber Exposure
            .tmpl-project__desc Visualizing exposure on a worldwide scale

      a.tmpl-project(href="/work/tag-management/")
        picture.tmpl-project__thumbnail
          source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-Tagging-Large.png, /img/Thumbnails/Featured-Tagging-Large@2x.png 2x")
          source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-Tagging-Medium.png, /img/Thumbnails/Featured-Tagging-Medium@2x.png 2x")
          source(srcset="/img/Thumbnails/Featured-Tagging-Small.png, /img/Thumbnails/Featured-Tagging-Small@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Tagging-Small.png" alt="Tag Management Screen")
        .tmpl-project__details
          .tmpl-project__title Cyber Asset Tag Management
          .tmpl-project__desc Organizing millions of devices

      a.tmpl-project(href="/work/rovi-guide/")
        picture.tmpl-project__thumbnail
          source(media="(min-width: 600px)" srcset="/img/Thumbnails/Featured-Rovi-Guide-Large.png, /img/Thumbnails/Featured-Rovi-Guide-Large@2x.png 2x")
          source(media="(min-width: 390px)" srcset="/img/Thumbnails/Featured-Rovi-Guide-Medium.png, /img/Thumbnails/Featured-Rovi-Guide-Medium@2x.png 2x")
          source(srcset="/img/Thumbnails/Featured-Rovi-Guide-Small.png, /img/Thumbnails/Featured-Rovi-Guide-Small@2x.png 2x")
          img(src="/img/Thumbnails/Featured-Rovi-Guide-Small.png" alt="Rovi Guide TV Interface")
        .tmpl-project__details
          .tmpl-project__title Rovi Guide
          .tmpl-project__desc Next generation web based TV
