extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "Lumin Cyber Exposure"

block content
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX
    span.tmpl-project__tag-item.work-tag__item Visualizations
    span.tmpl-project__tag-item.work-tag__item Wireframes

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/Tenable-Lumin-XLarge.png, /img/Thumbnails/Tenable-Lumin-XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/Tenable-Lumin-Large.png, /img/Thumbnails/Tenable-Lumin-Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/Tenable-Lumin-Medium.png, /img/Thumbnails/Tenable-Lumin-Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/Tenable-Lumin-Small.png, /img/Thumbnails/Tenable-Lumin-Small@2x.png 2x")
      img(src="/img/Thumbnails/Tenable-Lumin-Large.png" alt="Lumin Cyber Exposure Dashboard")

  .tmpl-page-subsection
    h2 Challenge
    p
      | Tenable was in a unique position of providing an extreme amount of data about cyber security vulnerabilities within a customer's network, but much of it was hidden behind esoteric tables and filters. As such, our current vulnerability management product was only suited to a highly technical and engaged customer. Product and design set out to provide a ten thousand foot view of your cyber exposure, visualizing it so that our customers could hone in on the areas that needed the most investment of time and resources.
  
  .tmpl-page-subsection
    h2 Process
    p
      | We identified additional personas that should be served by this new visualization product. Network security managers and CISOs (Chief Information Security Officer) were a particular target for this product, though the engineers remediating vulnerabilities would be able to utilize it as well to target their time. A wireframe document was put together to provide a vision for how this visualization would generally look, work and improve on the tedious task of identifying and remediating network vulnerabilities.

    .work-samples
      a.work-sample-link(href="/img/Work/Tenable-Lumin-Wireframe-002.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-Wireframe-002.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-Wireframe-004.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-Wireframe-004.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-Wireframe-005.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-Wireframe-005.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-Wireframe-006.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-Wireframe-006.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-Wireframe-007.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-Wireframe-007.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-Wireframe-008.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-Wireframe-008.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-Wireframe-009.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-Wireframe-009.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-Wireframe-011.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-Wireframe-011.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-014.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-014.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-015.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-015.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-016.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-016.png")
    
  .tmpl-page-subsection
    h2 Solution
    p
      | After many months of collaborating with product on wireframes our vision was complete, but after review with engineering, data science and leadership, it was determined that we should start smaller. While the fully navigable asset map we envisioned was our goal, engineering and data science would have months/years of work to be able to enable this. We scaled down the effort into a series of dashboards that could visualize the data we were able to generate from the new advanced data we were generating. The result was is a layer of information on top of the customer's existing vulnerability data, showing them how they are doing over time in remediating vulnerabilities and allowing them to focus on the highest priority issues.

    .work-samples
      a.work-sample-link(href="/img/Work/Tenable-Lumin-012.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-012.png")
      a.work-sample-link(href="/img/Work/Tenable-Lumin-013.png")
        img(loading="lazy" src="/img/Work/Tenable-Lumin-013.png")
  