extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "Rovi Guide"

block content  
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/Rovi-Guide-XLarge.png, /img/Thumbnails/Rovi-Guide-XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/Rovi-Guide-Large.png, /img/Thumbnails/Rovi-Guide-Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/Rovi-Guide-Medium.png, /img/Thumbnails/Rovi-Guide-Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/Rovi-Guide-Small.png, /img/Thumbnails/Rovi-Guide-Small@2x.png 2x")
      img(loading="lazy" src="/img/Thumbnails/Rovi-Guide-Large.png" alt="Rovi Guide TV UX")

  .tmpl-page-subsection
    h2 Challenge
    p
      | Rovi's business in 2014 was primarily based on providing TV guide data and IP to companies. Around this, Rovi had several TV guide products that were under active development - some web based, some set top box based. An effort was launched to combine these products into a unified experience that would scale from an embedded web page widget up to a next generation 4k set top box. The first application of the unified TV guide design would be an overhaul of an existing low power browser based TV guide made by Rovi and used on Grundig televisions. This was a European product so it would have to accommodate multiple languages and provide access to multiple country specific streaming services out of the box.

    .work-samples
      a.work-sample-link(href="/img/Work/Rovi-Guide-Tilden-1-2-Connected-Mode-Default-screen.jpg")
        img(loading="lazy" src="/img/Work/Rovi-Guide-Tilden-1-2-Connected-Mode-Default-screen.jpg")
  
  .tmpl-page-subsection
    h2 Process
    p
      | Several teams were creating concepts for this next generation set top box, and after prototyping, testing, and presenting a concept at the yearly IBC trade show, we had positive feedback and a design direction. The final product designs would have to be expanded to cover additional use cases such as DVR recording/management, advanced search, multiple profiles, on demand catalog browsing, hardware remote button shortcuts, persistent on screen live TV on main pages, and accessible text resizing.

    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/Rovi-Guide-001.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-001.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-002.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-002.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-003.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-003.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-009.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-009.png")
      
  .tmpl-page-subsection
    h2 Browsing Solution
    p
      | Starting with the design concepts, I modified them to allow for extensive remote (D pad style) navigation, highlighting anything that was selectable in the primary color while retaining context for location with a faded primary color when entering a subsection or menu. Badges on TV shows in the guide provide important information about whether an episode is new, is set to record a single episode or series, or has a reminder to watch set. Slide out and stacking panels (from the right of the screen) were used to keep context with the main underlying screens, allowing for more info and configuration changes to happen in place with out navigating away from the content. On screen contextual buttons (at the bottom of the screen) mapped to physical buttons on the remote to allow quick access to functions without having to navigate by arrow keys across many selectable areas on screen.

    .work-samples
      a.work-sample-link(href="/img/Work/Rovi-Guide-005-Dashboard-Because-you-like.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-005-Dashboard-Because-you-like.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-020-TV-Listings.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-020-TV-Listings.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-023-TV-Listings-Options-Category.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-023-TV-Listings-Options-Category.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-026-TV-Listings-Jump-to-Date-Time.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-026-TV-Listings-Jump-to-Date-Time.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-033-Browse-TV-Series-Menu.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-033-Browse-TV-Series-Menu.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-035-Browse-Options.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-035-Browse-Options.png")
  
  

  .tmpl-page-subsection
    h2 Search Solution
    p
      | Several on screen keyboards and layouts were tested but ultimately a vertical keyboard was chosen to continue the left to right section/detail paradigm used on other screens. After each character was selected on the keyboard, a search was run, returning relevant data in many different categories. Information returned included, TV series, movies, collections, personalities, channels, roles, genres, sub-genres, decades, and languages. Each type of selection would yield different browsable data. This leaned heavily on the Rovi TV API that many companies licensed for its wealth of data. Search would essentially allow you to browse the entire Rovi database, returning relevant TV and Movies that you could watch with just a tap.

    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/Rovi-Guide-072-Search-Movie.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-072-Search-Movie.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-073-Search-TV-Series.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-073-Search-TV-Series.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-075-Search-Movie-Collection.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-075-Search-Movie-Collection.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-076-Search-Personality.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-076-Search-Personality.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-077-Search-Genre.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-077-Search-Genre.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-081-Search-Role.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-081-Search-Role.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-083-Search-Channel.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-083-Search-Channel.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-085-Search-Options-Providers.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-085-Search-Options-Providers.png")

  .tmpl-page-subsection
    h2 TV/Movie Detail Solution
    p 
      | The detail screens had to be be designed in a way to accommodate many combinations of channels, recording options, reminders, trailers, and on demand services. Other data that was available, but not always present, was show descriptions or celebrity bios, photos, cast and crew, and recommended/similar titles. TV shows allowed for browsing additional episodes as well.
    
    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/Rovi-Guide-100-Six-Degrees-Movie-Now-Playing-With-Record.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-100-Six-Degrees-Movie-Now-Playing-With-Record.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-106-Six-Degrees-Movie-Synopsis-Selected.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-106-Six-Degrees-Movie-Synopsis-Selected.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-107-Six-Degrees-Movie-Quickview-Synopsis.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-107-Six-Degrees-Movie-Quickview-Synopsis.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-108-Six-Degrees-Movie-Scrolled-1.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-108-Six-Degrees-Movie-Scrolled-1.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-114-Six-Degrees-TV-Episode-Now-Playing-With-Record.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-114-Six-Degrees-TV-Episode-Now-Playing-With-Record.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-118-Six-Degrees-TV-Episode-More-Showtimes.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-118-Six-Degrees-TV-Episode-More-Showtimes.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-119-Six-Degrees-TV-Episode-Scrolled-1.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-119-Six-Degrees-TV-Episode-Scrolled-1.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-120-Six-Degrees-TV-Episode-Scrolled-2.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-120-Six-Degrees-TV-Episode-Scrolled-2.png")

  .tmpl-page-subsection
    h2 Settings Solution
    p 
      | Settings required several new patterns when it came to profile creation and management. The on screen keyboard designed for search was able to be reused here for name entry. A selection of profile icons in different colors provided a quick reference in the upper right of the screen as to which profile was currently active.
    
    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/Rovi-Guide-040-Settings-General.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-040-Settings-General.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-050-Settings-Accessibility.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-050-Settings-Accessibility.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-060-Settings-Profiles.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-060-Settings-Profiles.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-061-Settings-Profiles-Add-Profile.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-061-Settings-Profiles-Add-Profile.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-062-Settings-Profiles-Add-Profile-Avatar.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-062-Settings-Profiles-Add-Profile-Avatar.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-064-Settings-Profiles-Add Profile-Input-First Name-Filled.png")
        img(loading="lazy" src="/img/Work/Rovi-Guide-064-Settings-Profiles-Add Profile-Input-First Name-Filled.png")