extends ../_tmpl

block vars
  - var title = "Work"
  - var work_title = "Rovi Guide"

block content
  .tmpl-page-heading-wrapper
    h1.tmpl-page-heading #{work_title}
    a(href="/work/").tmpl-link-arrow.tmpl-link-arrow--large.tmpl-link-arrow--back
      svg.tmpl-link-arrow__icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M10.9303 5.06977C11.2232 5.36266 11.2232 5.83753 10.9303 6.13043L5.81066 11.2501H20C20.4142 11.2501 20.75 11.5859 20.75 12.0001C20.75 12.4143 20.4142 12.7501 20 12.7501H5.81066L10.9303 17.8698C11.2232 18.1627 11.2232 18.6375 10.9303 18.9304C10.6374 19.2233 10.1626 19.2233 9.86967 18.9304L3.46967 12.5304C3.17678 12.2375 3.17678 11.7627 3.46967 11.4698L9.86967 5.06977C10.1626 4.77687 10.6374 4.77687 10.9303 5.06977Z")
  
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item #UX

  .tmpl-page-subsection.tmpl-page-subsection--first
    h2 Challenge
    p
      | Rovi's business in 2014 was primarily based on providing TV guide data and IP to companies. Around this, Rovi had several TV guide products that were under active development - some web based, some set top box based. An effort was launched to combine these products into a single experience that would scale from a web guide widget up to a next generation 4k browser based set top box. The first application of unified TV guide product would be a lower powered browser based set top box, one that was already in the market but could be modernized to use this new UX concept. This was primarily a European product so it would have to accomodate multiple languages, provide access to multiple country specific streaming services and advanced DVR capabilities.

    .work-samples
      a.work-sample-link(href="/img/Work/Rovi-Guide-Tilden-1.2-Connected Mode-Default-screen.JPG")
        img(src="/img/Work/Rovi-Guide-Tilden-1.2-Connected Mode-Default-screen.JPG")
  
  .tmpl-page-subsection
    h2 Process
    p
      | Breaking down the requirements for the project revealed

    .work-samples
      a.work-sample-link(href="/img/Work/Rovi-Guide-005-Dashboard-Because-you-like.png")
        img(src="/img/Work/Rovi-Guide-005-Dashboard-Because-you-like.png")
      
  .tmpl-page-subsection
    h2 Solution
    p
      | 

    .work-samples
      a.work-sample-link(href="/img/Work/Flex-Web-016.png")
        img(src="/img/Work/Flex-Web-016.png")
      a.work-sample-link(href="/img/Work/Flex-Web-017.png")
        img(src="/img/Work/Flex-Web-017.png")
      a.work-sample-link(href="/img/Work/Flex-Web-007.png")
        img(src="/img/Work/Flex-Web-007.png")
      a.work-sample-link(href="/img/Work/Flex-Web-008.png")
        img(src="/img/Work/Flex-Web-008.png")
      a.work-sample-link(href="/img/Work/Flex-Web-009.png")
        img(src="/img/Work/Flex-Web-009.png")
      a.work-sample-link(href="/img/Work/Flex-Web-010.png")
        img(src="/img/Work/Flex-Web-010.png")
      a.work-sample-link(href="/img/Work/Flex-Web-011.png")
        img(src="/img/Work/Flex-Web-011.png")
      a.work-sample-link(href="/img/Work/Flex-Web-010.png")
        img(src="/img/Work/Flex-Web-010.png")