extends ../_tmpl

block vars
  - var title = "Work"
  - var work_title = "Rovi Guide"

block content
  .tmpl-page-heading-wrapper
    h1.tmpl-page-heading #{work_title}
    a(href="/work/").tmpl-link-arrow.tmpl-link-arrow--large.tmpl-link-arrow--back
      svg.tmpl-link-arrow__icon(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M10.9303 5.06977C11.2232 5.36266 11.2232 5.83753 10.9303 6.13043L5.81066 11.2501H20C20.4142 11.2501 20.75 11.5859 20.75 12.0001C20.75 12.4143 20.4142 12.7501 20 12.7501H5.81066L10.9303 17.8698C11.2232 18.1627 11.2232 18.6375 10.9303 18.9304C10.6374 19.2233 10.1626 19.2233 9.86967 18.9304L3.46967 12.5304C3.17678 12.2375 3.17678 11.7627 3.46967 11.4698L9.86967 5.06977C10.1626 4.77687 10.6374 4.77687 10.9303 5.06977Z")
  
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX

  .tmpl-page-subsection.tmpl-page-subsection--first
    h2 Challenge
    p
      | Rovi's business in 2014 was primarily based on providing TV guide data and IP to companies. Around this, Rovi had several TV guide products that were under active development - some web based, some set top box based. An effort was launched to combine these products into a single experience that would scale from an embedded web page widget up to a next generation 4k  set top box. The first application of unified TV guide would be a lower powered browser based set top box, one that was already in the market but could be modernized to use this new UX concept. This was primarily a European product so it would have to accommodate multiple languages and provide access to multiple country specific streaming services.

    .work-samples
      a.work-sample-link(href="/img/Work/Rovi-Guide-Tilden-1-2-Connected-Mode-Default-screen.jpg")
        img(src="/img/Work/Rovi-Guide-Tilden-1-2-Connected-Mode-Default-screen.jpg")
  
  .tmpl-page-subsection
    h2 Process
    p
      | Several teams were creating concepts for this next generation set top box, and after prototyping, testing, and presenting a concept at the yearly IBC trade show, we had positive feedback and a design direction. The final product designs would have to be expanded to cover additional use cases such as DVR recording/management, advanced search, multiple profiles, on demand catalog browsing, hardware remote button shortcuts, persistent on screen live TV on main pages, and accessible text resizing.

    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/Rovi-Guide-001.png")
        img(src="/img/Work/Rovi-Guide-001.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-002.png")
        img(src="/img/Work/Rovi-Guide-002.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-003.png")
        img(src="/img/Work/Rovi-Guide-003.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-009.png")
        img(src="/img/Work/Rovi-Guide-009.png")
      
  .tmpl-page-subsection
    h2 Browsing Solution
    p
      | The design was modified to allow for extensive remote (D pad style) navigation, highlighting anything that was selectable in the primary color while retaining context for location with a faded primary color when entering a subsection or menu. Badges on TV shows in the guide provide important information about whether an episode is new, is set to record a single episode or series, or has a reminder to watch set. Slide out and stacking panels (from the right of the screen) were used to keep context with the main underlying screens, allowing for more info and configuration changes to happen in place with out navigating away from the content. On screen contextual buttons (at the bottom of the screen) mapped to physical buttons on the remote to allow quick access to functions without having to navigate by arrow keys across many selectable areas on screen.

    .work-samples
      a.work-sample-link(href="/img/Work/Rovi-Guide-005-Dashboard-Because-you-like.png")
        img(src="/img/Work/Rovi-Guide-005-Dashboard-Because-you-like.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-020-TV-Listings.png")
        img(src="/img/Work/Rovi-Guide-020-TV-Listings.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-023-TV-Listings-Options-Category.png")
        img(src="/img/Work/Rovi-Guide-023-TV-Listings-Options-Category.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-026-TV-Listings-Jump-to-Date-Time.png")
        img(src="/img/Work/Rovi-Guide-026-TV-Listings-Jump-to-Date-Time.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-033-Browse-TV-Series-Menu.png")
        img(src="/img/Work/Rovi-Guide-033-Browse-TV-Series-Menu.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-035-Browse-Options.png")
        img(src="/img/Work/Rovi-Guide-035-Browse-Options.png")
  
  

  .tmpl-page-subsection
    h2 Search Solution
    p
      | Several on screen keyboards and layouts were tested but ultimately a vertical keyboard was chosen to continue the left to right section/detail paradigm used on other screens. After each character was selected on the keyboard, a search was run, returning relevant data in many different categories. Information returned included, TV series, movies, collections, personalities, channels, roles, genres, sub-genres, decades, and languages. Each type of selection would yield different browsable data. This leaned heavily on the Rovi TV API that many companies licensed for its wealth of data. Search would essentially allow you to browse the entire Rovi database, returning relevant TV and Movies that you could watch with just a tap.

    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/Rovi-Guide-072-Search-Movie.png")
        img(src="/img/Work/Rovi-Guide-072-Search-Movie.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-073-Search-TV-Series.png")
        img(src="/img/Work/Rovi-Guide-073-Search-TV-Series.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-075-Search-Movie-Collection.png")
        img(src="/img/Work/Rovi-Guide-075-Search-Movie-Collection.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-076-Search-Personality.png")
        img(src="/img/Work/Rovi-Guide-076-Search-Personality.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-077-Search-Genre.png")
        img(src="/img/Work/Rovi-Guide-077-Search-Genre.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-081-Search-Role.png")
        img(src="/img/Work/Rovi-Guide-081-Search-Role.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-083-Search-Channel.png")
        img(src="/img/Work/Rovi-Guide-083-Search-Channel.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-085-Search-Options-Providers.png")
        img(src="/img/Work/Rovi-Guide-085-Search-Options-Providers.png")

  .tmpl-page-subsection
    h2 TV/Movie Detail Solution
    p 
      | The detail screens had to be be designed in a way to accommodate many combinations of channels, recording options, reminders, trailers, and on demand services. Other data that was available, but not always present, was show descriptions or celebrity bios, photos, cast and crew, and recommended/similar titles. TV shows allowed for browsing additional episodes as well.
    
    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/Rovi-Guide-100-Six-Degrees-Movie-Now-Playing-With-Record.png")
        img(src="/img/Work/Rovi-Guide-100-Six-Degrees-Movie-Now-Playing-With-Record.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-106-Six-Degrees-Movie-Synopsis-Selected.png")
        img(src="/img/Work/Rovi-Guide-106-Six-Degrees-Movie-Synopsis-Selected.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-107-Six-Degrees-Movie-Quickview-Synopsis.png")
        img(src="/img/Work/Rovi-Guide-107-Six-Degrees-Movie-Quickview-Synopsis.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-108-Six-Degrees-Movie-Scrolled-1.png")
        img(src="/img/Work/Rovi-Guide-108-Six-Degrees-Movie-Scrolled-1.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-114-Six-Degrees-TV-Episode-Now-Playing-With-Record.png")
        img(src="/img/Work/Rovi-Guide-114-Six-Degrees-TV-Episode-Now-Playing-With-Record.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-118-Six-Degrees-TV-Episode-More-Showtimes.png")
        img(src="/img/Work/Rovi-Guide-118-Six-Degrees-TV-Episode-More-Showtimes.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-119-Six-Degrees-TV-Episode-Scrolled-1.png")
        img(src="/img/Work/Rovi-Guide-119-Six-Degrees-TV-Episode-Scrolled-1.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-120-Six-Degrees-TV-Episode-Scrolled-2.png")
        img(src="/img/Work/Rovi-Guide-120-Six-Degrees-TV-Episode-Scrolled-2.png")

  .tmpl-page-subsection
    h2 Settings Solution
    p 
      | Settings required several new patterns when it came to profile creation and management. The on screen keyboard designed for search was able to be reused here for name entry. A selection of profile icons in different colors provided a quick reference in the upper right of the screen as to which profile was currently active.
    
    .work-samples.work-samples--1M-2D
      a.work-sample-link(href="/img/Work/Rovi-Guide-040-Settings-General.png")
        img(src="/img/Work/Rovi-Guide-040-Settings-General.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-050-Settings-Accessibility.png")
        img(src="/img/Work/Rovi-Guide-050-Settings-Accessibility.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-060-Settings-Profiles.png")
        img(src="/img/Work/Rovi-Guide-060-Settings-Profiles.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-061-Settings-Profiles-Add-Profile.png")
        img(src="/img/Work/Rovi-Guide-061-Settings-Profiles-Add-Profile.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-062-Settings-Profiles-Add-Profile-Avatar.png")
        img(src="/img/Work/Rovi-Guide-062-Settings-Profiles-Add-Profile-Avatar.png")
      a.work-sample-link(href="/img/Work/Rovi-Guide-064-Settings-Profiles-Add Profile-Input-First Name-Filled.png")
        img(src="/img/Work/Rovi-Guide-064-Settings-Profiles-Add Profile-Input-First Name-Filled.png")