extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "Tag Management"

block content
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX
    span.tmpl-project__tag-item.work-tag__item Wireframes

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/Tenable-Tagging-XLarge.png, /img/Thumbnails/Tenable-Tagging-XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/Tenable-Tagging-Large.png, /img/Thumbnails/Tenable-Tagging-Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/Tenable-Tagging-Medium.png, /img/Thumbnails/Tenable-Tagging-Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/Tenable-Tagging-Small.png, /img/Thumbnails/Tenable-Tagging-Small@2x.png 2x")
      img(loading="lazy" src="/img/Thumbnails/Tenable-Tagging-Large.png" alt="Tag Management Screen")

  .tmpl-page-subsection
    h2 Challenge
    p
      | Managing network vulnerabilities across many hundred or thousands of machines is a complex job. With that kind of scale, it becomes important to be able to organize them into groups relevant to your organization, so that you can find, monitor and remediate security issues.

  .tmpl-page-subsection
    h2 Process
    p
      | Product and design identified that tagging was one solution to this, through customer feedback and interviews. The goal would be to allow customers to quickly search for machines by tag, see relevant associated machines with that tag, and manage those tags globally across their network. Additionally, we identified the need to tag machines automatically through search filters, reducing the need to manually apply tags. This came from customer feedback, where some customers were adding machines to their network faster than they would be able to keep up with manual tagging. We called this dynamic tagging and tags would be applied automatically when they were discovered by the tagging service.

    .work-samples
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Wireframe-001.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Wireframe-001.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Wireframe-002.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Wireframe-002.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Wireframe-003.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Wireframe-003.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Wireframe-004.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Wireframe-004.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Wireframe-005.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Wireframe-005.png")
    
  .tmpl-page-subsection
    h2 Solution
    p
      | We began by wireframing out the create, apply, edit, remove, delete operations of the tagging system. Tag management would have its own dedicated screen inside of the vulnerability manager product and tags would be visible on every machine in preview and detail screens. Dynamic tags would be an optional feature, but enabled in the same screen as the add and edit screens, switch it on, choose your search criteria and let the system apply the tags for you. We also saw an opportunity to create dynamic tags from the search screen as well. Since the search UI was powering the filtering of machines, let customers run a search, then create dynamic tags out of that search to be applied moving forward.

    .work-samples
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Create-Tag-001.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Create-Tag-001.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Create-Tag-Dynamic-Options-002.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Create-Tag-Dynamic-Options-002.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Edit-Tag-Value-Dynamic-Options-Excluded-003.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Edit-Tag-Value-Dynamic-Options-Excluded-003.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Assets-Add-Tags-Value-New-004.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Assets-Add-Tags-Value-New-004.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Assets-Remove-Tags-005.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Assets-Remove-Tags-005.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Assets-Search-Value-Selected-006.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Assets-Search-Value-Selected-006.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Assets-Detail-Tag-Options-007.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Assets-Detail-Tag-Options-007.png")
  

  .tmpl-page-subsection
    h2 Solution Continued
    p
      | After the initial designs were implemented into the current vulnerability management application, we set out to apply the same UX to our new redesigned application being built using a new design system. The modal style interactions were converted to the full height side panels that overlaid the page content. This allowed us more flexible layouts, more scrolling content and provided better context for the task at hand.

    .work-samples
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-002-Tag-Management.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-002-Tag-Management.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-004a-Edit-Tag-Asset-Rule-Selected.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-004a-Edit-Tag-Asset-Rule-Selected.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-007-Create-Tag-Value.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-007-Create-Tag-Value.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-012a-Edit-Tag-Excluded-Assets-Remove-Mulitple.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-012a-Edit-Tag-Excluded-Assets-Remove-Mulitple.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-013-Edit-Tag-Excluded-Assets-Updated.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-013-Edit-Tag-Excluded-Assets-Updated.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-018-Create-New-Tag-Add-Value.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-018-Create-New-Tag-Add-Value.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-019-Create-New-Tag-Apply-Rules.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-019-Create-New-Tag-Apply-Rules.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-020-Create-New-Tag-Apply-Rules.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-020-Create-New-Tag-Apply-Rules.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-021-Create-New-Tag-Apply-Rules.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-021-Create-New-Tag-Apply-Rules.png")
      a.work-sample-link(href="/img/Work/Tenable-Tagging-Hive-022-Create-New-Tag-Notification.png")
        img(loading="lazy" src="/img/Work/Tenable-Tagging-Hive-022-Create-New-Tag-Notification.png")