extends ../_tmpl

block vars
  - var page = "work"
  - var page_title = "Twilio Chat Widget"

block content
  .work-tags
    | Tags: 
    span.tmpl-project__tag-item.work-tag__item UX
    span.tmpl-project__tag-item.work-tag__item Whitelabel

  .tmpl-page-subsection.tmpl-page-subsection--first
    picture.tmpl-project__thumbnail.tmpl-project__thumbnail--xlarge
      source(media="(min-width: 1140px)", srcset="/img/Thumbnails/Twilio_XLarge.png, /img/Thumbnails/Twilio_XLarge@2x.png 2x")
      source(media="(min-width: 600px)", srcset="/img/Thumbnails/Twilio_Large.png, /img/Thumbnails/Twilio_Large@2x.png 2x")
      source(media="(min-width: 430px)", srcset="/img/Thumbnails/Twilio_Medium.png, /img/Thumbnails/Twilio_Medium@2x.png 2x")
      source(srcset="/img/Thumbnails/Twilio_Small.png, /img/Thumbnails/Twilio_Small@2x.png 2x")
      img(src="/img/Thumbnails/Twilio_Large.png" alt="Twilio Chat Widget UI")

  .tmpl-page-subsection
    h2 Challenge
    p
      | Green Dot's existing help widget was rudimentary, provided canned answers, and ultimately did not provide customers with the help they needed. Instead of helping them with the issues they encountered in the apps or websites as they used them, it frustrated them and required them to call in to get help for many issues. Help that was meant to be provided in the moment and aleviate calls into customer support failed on both accounts.

  .tmpl-page-subsection
    h2 Process
    p
      | A project was started to replace our help widget with Twilio chat via an API connected to Salesforce, while providing our own UX/UI that could be rebranded as needed. We would design a live chat widget for use on iOS, Android and the web, that would connect customers to customer support directly. 

    .work-samples
      a.work-sample-link(href="/img/Work/Twilio-Chat-Flow.png")
        img(loading="lazy" src="/img/Work/Twilio-Chat-Flow.png")

  .tmpl-page-subsection
    h2 Solution
    p
      | Our custom chat widget design would allow customer support to provide better help, faster, and we would be able to deploy this to Green Dot brands and partner brands alike. Eureka Design System would drive the typograpy, colors and imagery nessesary to rebrand the widget for use on different apps and websites with ease.

    .work-samples
      a.work-sample-link(href="/img/Work/Twilio-Chat-States.png")
        img(loading="lazy" src="/img/Work/Twilio-Chat-States.png")
      a.work-sample-link(href="/img/Work/Twilio-Chat-Brands.png")
        img(loading="lazy" src="/img/Work/Twilio-Chat-Brands.png")

    .tmpl-page-subsection
      h2 Mobile Chat
      .work-samples.work-samples--2M-3D.work-samples--mar-top-0
        a.work-sample-link(href="/img/Work/Twilio-Chat-Loading.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Loading.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Connecting.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Connecting.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Received.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Received.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Attach-Options.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Attach-Options.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Uploading-2.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Uploading-2.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Message.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Message.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Message-1.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Message-1.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Message-Received.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Message-Received.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Chat-Example.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Chat-Example.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Chat-Ended.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Chat-Ended.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Minimized-New-Message-Received.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Minimized-New-Message-Received.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Message-Limit.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Message-Limit.png")

    .tmpl-page-subsection
      h2 Desktop Chat
      .work-samples.work-samples--mar-top-0
        a.work-sample-link(href="/img/Work/Twilio-Chat-Desktop-Loading.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Desktop-Loading.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Desktop-Help.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Desktop-Help.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Desktop-Received.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Desktop-Received.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Desktop-Sent.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Desktop-Sent.png")
        a.work-sample-link(href="/img/Work/Twilio-Chat-Desktop-Minimized-New-Message-Received.png")
          img(loading="lazy" src="/img/Work/Twilio-Chat-Desktop-Minimized-New-Message-Received.png")
        
  

  
    
    